.markdown {
  h1 {
    font-weight: 500;
    line-height: 59px;
  }

  h2 {
    font-weight: 500;
    line-height: 44px;
  }

  p {
    margin-bottom: 16px;
    line-height: 24px;
  }

  ul {
    padding-left: 2em;
    list-style-type: disc;
  }

  li {
    list-style-type: disc;
  }
}

.ul {
  padding-left: 2em;
  list-style-type: disc;
}

.li {
  list-style-type: disc;
}
