.wrapper {
  position: relative;

  .btnRow {
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: 100%;
  }
}

.memberId {
  .inputWrapper {
    height: 80px;

    .label {
      transform: translateY(calc(-50% - 16px));
    }

    .input {
      transform: translateY(-16px);
    }
  }

  .hasValue,
  .focus {
    .label {
      transform: translateY(-100%);
    }
  }
}

.btnRow {
  display: flex;
}

.rawValueDialog {
  &:not(:first-child) {
    margin-left: 6px;
  }
}
