.tableWrapper {
  table-layout: fixed;
  width: 100%;
}

.rows {
}

.label {
  vertical-align: top;
  font-weight: 500;
  width: 220px;
}

.value {
  word-wrap: break-word;
  word-break: break-all;
}
