@import "@/styles/layouts.module.scss";

.claimCm {
  display: flex;

  .value {
    padding-left: 16px;
    font-size: 13px;
    width: 300px;
    width: auto;
    word-break: break-all;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .claimCm {
    .value {
      width: 300px;
    }
  }
}
