.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 660px;
}

.body {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 56px;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
}
