.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    display: flex;
    flex-direction: column;
  }

  .upper {
    margin-bottom: 45px;
  }

  .widget {
    max-width: 610px;
    margin-bottom: 31px;
  }

  .widgetInner {
    padding: 21px 18px;
  }

  .desc {
  }

  .radioBox {
    border: 1px solid #9fb6bf;
    padding: 13px 10px;
    display: flex;
    background-color: #f6fbf8;

    > div {
      margin-left: 12px;
    }

    .label {
      font-weight: 500;
      letter-spacing: 0.02em;
    }

    .desc {
      font-size: 0.94em;
      color: #4d4d4d;
    }
  }

  .passcode {
    .label {
      margin-bottom: 5px;
    }

    input {
      border: 1px solid gray;
    }
  }

  .id {
    display: flex;
  }

  .passhash {
    display: flex;
  }

  .footer {
    margin-top: 80px;
  }

  .btnRow {
    margin-top: 16px;
  }

  .hashBtn {
    border-radius: 0;
    background-color: #c0e6c8;
    color: #2f3139;
    font-weight: 500;
    padding: 8px 12px;

    &:hover {
      cursor: pointer;
      background-color: #b0d6c8;
    }
  }
}
