.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    display: flex;
    flex-direction: column;
  }

  .upper {
    margin-bottom: 35px;
  }

  .widget {
    margin-bottom: 45px;
  }

  .desc {
  }

  .footer {
    margin-top: 80px;
  }
}
