@import "@/styles/layouts.module.scss";

.wrapper {
  /* border: 1px solid red; */
}

.topMenuRow {
  height: 48px;
  padding-left: 32px;
}

.avatarRow {
  flex-direction: column;
  padding-left: 0;
  align-items: center;
  gap: 18px;

  .avatar {
    width: 40%;
    height: 40%;
    max-width: 162px;
    max-height: 162px;
    border-radius: 50%;
    color: transparent;
    background-color: var(--bright-gray-45);
  }

  .username {
    text-align: center;
  }

  .accountId {
    text-align: center;
  }
}

.metaRow {
  padding-left: 32px;
  padding-top: 32px;

  .url {
    color: var(--blue-19);
  }

  .box {
    color: var(--black-27);
    padding: 16px;
    border-radius: 16px;
    background-color: var(--bright-blue-55);
    word-break: break-all;
    max-width: 520px;

    /* border: 1px solid red; */
  }

  .row:not(:last-child) {
    padding-bottom: 14px;
  }

  .label {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  .value {
    /* padding-left: 2px; */
  }
}

@media screen and (min-width: $big_display_min_width) {
  .topMenuRow {
    padding-left: 0;
  }

  .avatarRow {
    display: flex;
    padding-left: 48px;
    gap: 36px;

    .avatar {
      width: 162px;
      height: 162px;
      border-radius: 81px;
    }

    .rightCol {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .username {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    .accountId {
      font-size: 1.2rem;
    }
  }

  .metaRow {
    padding-left: 0;

    .box {
      max-width: none;
    }
  }
}
