@import "@/styles/layouts.module.scss";

.wrapper {
  padding: 0px 12px;
  border-bottom: 1px solid var(--bright-gray-35);
}

.row {
  display: flex;

  &:not(:first-child) {
    padding-top: 0.5rem;
  }
}

.channelBtn {
  cursor: not-allowed;
  height: 34px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 500;

  svg {
    padding-left: 5px;
    font-size: 20px;
  }
}

.button {
  font-size: 15px;
  padding: 0px 12px;
  height: 34px;
  border-radius: 17px;
}

.subBtn {
  font-size: 14px;
  padding: 0px 12px;
}

.rightAlign {
  margin-left: auto;
}
