.title {
  /* padding-bottom: 16px; */
}

.instructions {
}

.overlay {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.item {
  display: flex;
  padding-bottom: 24px;
  position: relative;

  &.isDisabled {
    .overlay {
      display: block;
    }
  }
}

.no {
  width: 78px;
  flex-shrink: 0;
  font-size: 16px;
  padding-left: 44px;
}

.rightCol {
  word-break: break-all;
  flex-grow: 1;
  padding-right: 60px;
}

.desc {
  display: block;
  word-break: break-all;
  padding-bottom: 18px;
  color: var(--gray-20);

  > p:not(:last-child) {
    padding-bottom: 5px;
  }
}

.descTitle {
  color: var(--black-10);
  font-size: 16px;
}

.row {
  padding: 1px 0 18px;
}

.section {
  padding-bottom: 14px;
  width: 480px;
}

.box {
  display: flex;
  border: 1px solid var(--gray-50);
  border-radius: 5px;
  padding: 8px;
  word-break: break-all;

  p {
    display: flex;
    align-items: center;
  }

  .btnArea {
    display: flex;
    align-items: center;
    width: 60px;
    padding-left: 12px;
    font-size: 20px;

    button {
      color: var(--gray-20);
      width: 40px;
      height: 40px;
      border-radius: 20px;
      cursor: pointer;
      display: grid;
      place-items: center;

      &:hover {
        background-color: var(--bright-gray-32);
      }
    }
  }
}

.claimCm {
  display: flex;

  .value {
    padding-left: 16px;
    font-size: 13px;
    width: 300px;
    word-break: break-all;
  }
}

.btnRow {
  padding-top: 18px;
  display: flex;
  align-items: center;

  .status {
    padding-left: 16px;
  }
}

.sectionBtnRow {
  display: flex;
  align-items: center;

  > p {
    padding-left: 16px;
  }

  a {
    color: var(--blue-120);
  }
}

.msg {
  padding-left: 10px;
}

.btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-50);
  border-radius: 20px;
  padding: 0 18px;
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: var(--bright-blue-55);
  }

  svg {
    margin-right: 2px;
  }

  > * + span {
    margin-left: 4px;
  }
}

.cryptoAsset {
  padding-top: 18px;
  font-size: 13px;
  color: var(--gray-20);

  .item {
    padding-bottom: 0;
  }

  .label {
    font-weight: 500;
    margin-right: 3px;
  }
}

.inputBtnRow {
  padding-bottom: 9px;
}

.inputBtn {
  cursor: pointer;
  color: var(--blue-120);
}

.signBox {
  padding-top: 18px;
}

.guideRow {
  font-size: 13px;
  color: var(--gray-30);
  padding-bottom: 8px;
}

.createBtnRow {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 30px;

  > button {
    border-radius: 20px;
    height: 40px;
  }
}

.createBtn {
  padding-left: 24px;
  padding-right: 24px;

  .content {
    display: flex;
    align-items: center;

    > * + span {
      padding-left: 3px;
    }
  }
}

.input {
  height: 40px;
}

.success {
  color: var(--green-60);
}

.error {
  color: var(--red-50);
  font-size: 13px;
}

.spinner {
  margin-left: 3px;

  div {
    border-width: 2px;
    border-top-color: inherit;
  }
}

@media screen and (max-width: 480px) {
  .section {
    width: auto;
  }

  .cryptoAsset {
    .item {
      flex-direction: column;

      &:not(:first-child) {
        padding-top: 4px;
      }
    }
  }

  .claimCm {
    .value {
      width: auto;
    }
  }

  .no {
    width: 32px;
    padding-left: 4px;
  }

  .rightCol {
    padding-right: 0;
  }

  .createBtnRow {
    padding-left: 24px;
    padding-right: 0px;
  }
}
