.title {
  /* padding-bottom: 16px; */
}

.instructions {
  .overlay {
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .item {
    display: flex;
    padding-bottom: 24px;
    position: relative;

    &.isDisabled {
      .overlay {
        display: block;
      }
    }
  }

  .no {
    width: 40px;
    flex-shrink: 0;
    font-size: 16px;
  }

  .right {
    word-break: break-all;
  }

  .desc {
    display: block;
    word-break: break-all;
    padding-bottom: 18px;

    > p:not(:last-child) {
      padding-bottom: 5px;
    }
  }

  .descTitle {
    font-size: 16px;
  }

  .btn {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-50);
    border-radius: 20px;
    padding: 0 18px;
    height: 40px;
    cursor: pointer;

    &:hover {
      background-color: var(--bright-blue-55);
    }

    svg {
      margin-right: 2px;
    }

    > * + span {
      margin-left: 2px;
    }
  }

  .row {
    padding: 1px 0 18px;
  }

  .tweetContent {
    padding-bottom: 14px;
    width: 480px;

    .box {
      display: flex;
      border: 1px solid var(--gray-50);
      border-radius: 5px;
      padding: 8px;
      word-break: break-all;

      .btnArea {
        display: flex;
        align-items: center;
        width: 60px;
        padding-left: 12px;
        font-size: 20px;

        button {
          color: var(--gray-20);
          width: 40px;
          height: 40px;
          border-radius: 20px;
          cursor: pointer;
          display: grid;
          place-items: center;

          &:hover {
            background-color: var(--bright-gray-32);
          }
        }
      }
    }
  }

  .claimCm {
    display: flex;

    .value {
      padding-left: 16px;
      font-size: 13px;
      width: 300px;
      word-break: break-all;
    }
  }

  .validateBtnRow {
    display: flex;
    align-items: center;

    .status {
      padding-left: 16px;
    }

    .validateBtn {
    }
  }

  .tweetContentBtnRow {
    display: flex;
    align-items: center;

    > p {
      padding-left: 16px;
    }

    a {
      color: var(--blue-15);
    }
  }

  .msg {
    padding-left: 10px;
  }
}

.guideRow {
  font-size: 13px;
  color: var(--gray-30);
  padding-bottom: 8px;
}

.btnRow {
  padding-top: 4px;
}

.createBtnRow {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}

.input {
  height: 40px;
}

.success {
  color: var(--green-60);
}
.error {
  color: var(--red-50);
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .instructions {
    .tweetContent {
      width: auto;
    }

    .claimCm {
      .value {
        width: auto;
      }
    }
  }
}
