@import "@/styles/layouts.module.scss";

.wrapper {
  /* border: 1px solid red; */
}

.topMenuRow {
  height: 48px;
  padding-left: 32px;
}

.section {
  &:not(:first-child) {
    padding-top: 32px;
  }
}

.sectionRow {
  &:not(:last-child) {
    padding-bottom: 14px;
  }
}

.sectionRowLabel {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 4px;
}

.box {
  padding: 0px 24px;
  display: flex;
  justify-content: center;
}

.boxInner {
  color: var(--black-27);
  padding: 16px;
  border-radius: 16px;
  background-color: var(--bright-blue-55);
  word-break: break-all;
  max-width: 520px;
}

@media screen and (min-width: $big_display_min_width) {
  .topMenuRow {
    padding-left: 0;
  }

  .metaRow {
    padding-left: 0;
  }

  .box {
    max-width: none;
    justify-content: flex-start;
  }

  .section {
    padding-left: 32px;
  }
}
