.base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3px;
  line-height: 14px;
  font-size: 14px;
}

.inner {
  padding: 1px;
  border-radius: 50%;

  &:hover {
    background-color: var(--bright-gray-40);
  }

  button {
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}

.id {
  font-weight: 500;
  color: var(--white-100);
}

.isOpen {
  button {
    background-color: var(--bright-gray-30);

    &:hover {
      background-color: var(--bright-gray-30);
    }
  }
}

.popoverWrapper {
  color: var(--black-20);
  box-shadow: 0 4px 9px 3px rgba(0, 0, 0, 0.15), 0 1px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 5px;
  z-index: 10;
  overflow: hidden;
}
