.wrapper {
  max-width: 760px;
}

.breadcrumbContainer {
  /* padding-top: 12px; */
  padding-bottom: 13px;
}

.textInputContainer {
  &:not(:first-child) {
    margin-top: 15px;
  }

  input {
    max-width: 535px;
  }
}

.dropdownContainer {
  width: 535px;

  > div:first-child {
    margin-bottom: 5px;
  }
}

.alert {
  color: red;
  margin: 12px 0;
}

.programSectionWrapper {
  .item:not(:first-child) {
    margin-top: 20px;
  }

  .label {
    color: var(--gray-30);
  }

  .value {
    margin-top: 9px;
  }

  a {
    color: var(--green-50);
    &:hover {
      text-decoration: underline;
    }
  }
}

.sdkContainer {
  margin-top: 32px;
}

.btnRow {
  margin-top: 24px;
}
