.select {
  width: 60px;
}

.circuit_id {
  width: 160px;
  word-wrap: break-word;
}

.label {
  width: 160px;
}

.author {
  width: 160px;
}

.public_inputs {
  width: 100%;
  word-wrap: break-word;
}
