.label {
  width: 160px;
}

.author {
  width: 160px;
}

.public_inputs {
  width: 100%;
  word-wrap: break-word;
}

.wrapper {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.imgCol {
  width: 50px;
}
