.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 11px;
}

.tableContainer {
  padding-top: 24px;
}

.iconBtn {
  svg {
    font-size: 1.4em;
  }
}
