@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  /* padding-bottom: 6px; */

  /* border: 1px solid blue; */
}

.paddingBox {
  flex-grow: 1;
  flex-shrink: 0;
}

.upperBox {
  background-color: var(--shy-orange-50);
}

.box {
  background-color: var(--shy-orange-50);
  padding: 0 4px;
  padding-top: 4px;
  padding-bottom: 3px;
  display: flex;
  align-items: flex-end;

  > span {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fff;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .wrapper {
    /* padding-bottom: 10px; */
  }
}
