@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  flex-grow: 1;

  /* border: 1px solid white; */
}

.leftBarContainer {
  display: flex;
  justify-content: flex-end;

  /* border: 1px solid black; */
}

@media screen and (max-width: $view_port_min_width_big_display) {
  .leftBarContainer {
    display: none;
  }

  .leftBarDrawerContainer {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .leftBarContainer {
    display: none;
  }
}
