@import "@/styles/layouts.module.scss";

.wrapper {
  border: 1px solid var(--gray-50);
  border-radius: 5px;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 10px;
  color: var(--gray-30);

  > svg {
    margin-right: 5px;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  gap: 18px;
}

@media screen and (min-width: $big_display_min_width) {
}
