.wrapper {
  transition: height 0.4s ease-out;
  padding: 18px 20px 18px;
  border-radius: 10px;
  background-color: var(--bright-gray-50);

  > div {
    margin-top: 22px;
    padding-top: 22px;
  }

  &.isCard {
    background-color: transparent;
    border-left: none;
    font-size: 13px;
  }

  .publicInputSection {
    box-shadow: none;
    position: relative;
    border-radius: 3px;
    word-break: break-all;
    margin-top: 0px;
    padding-top: 0px;

    .data {
      width: 100%;
    }

    /* border: 1px solid blue; */
  }
}

.publicInputRow {
  font-size: 13px;

  &:not(:first-child) {
    margin-top: 16px;
  }

  > p:first-child {
    margin-bottom: 4px;
  }
}

.label {
  font-weight: 500;
}

.proofRawSection {
  font-size: 13px;
  position: relative;
  box-shadow: none;
  border-top: 1px solid var(--bright-gray-31);

  .row {
    margin-bottom: 14px;
    .label {
      font-weight: 500;
    }
  }

  .data {
    width: 100%;
    word-break: break-word;
    overflow-y: auto;
    max-height: 280px;
  }

  .seeMore {
    margin-left: 5px;
    color: var(--blue-11);
    cursor: pointer;
  }
}

.title {
  align-items: stretch;
  height: auto;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 400;
}

.data {
  padding: 0px 0px;
  overflow-y: hidden;
}

.footer {
  display: none;
}

.driverSection {
  margin-top: 24px;
}

.isCard {
  .publicInputSection {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }

  .proofRawSection {
    padding-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-top: none;
  }

  .data {
    padding: 14px 18px;
  }

  .title {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .label {
    font-size: inherit;
    font-weight: 500;
  }
}

@media screen and (max-width: 1120px) {
  .wrapper {
    border-left: none;
    margin-top: 54px;

    &.isCard {
      padding: 0px 0px;
    }
  }

  .title {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
  }

  .label {
    font-size: inherit;
    font-size: 1.12em;
    font-weight: 500;
    margin-bottom: 3px;
  }
}
