@import "@/styles/layouts.module.scss";

$header_height_small: 48px;
$header_height_big: 61px;

.placeholder {
  height: $header_height_small;
  width: 100%;

  /* border: 1px solid red; */
}

.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height_small;
  padding: 0 $side_padding;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: var(--shy-black-25);
  /* background-color: white; */

  /* border: 1px solid blue; */
}

.inner {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid red; */
}

.leftGroup {
  height: 100%;
}

.logo {
  font-size: 22px;
  > div {
    padding-top: 10px;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .placeholder {
    height: $header_height_big;
  }

  .wrapper {
    height: $header_height_big;
  }

  .inner {
    width: 980px;
    flex-grow: 0;
  }

  .logo {
    font-size: 28px;
    > div {
      padding-top: 12px;
    }
  }
}
