@import "@/styles/layouts.module.scss";

$header_height_small: 48px;
$header_height_big: 61px;

.placeholder {
  height: $header_height_small;
  width: 100%;

  /* border: 1px solid red; */
}

.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height_small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 1;
  /* background-color: var(--shy-black-25); */
  background-color: white;

  /* border: 1px solid blue; */
}

.logo {
  span {
    font-size: 24px;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .placeholder {
    height: $header_height_big;
  }

  .wrapper {
    height: $header_height_big;
  }
}
