@import "../styles/layouts.module.scss";

.wrapper {
  padding: 6px 30px 6px 7px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 390px;
  border-radius: 10px;
  border: 1px solid var(--black-30);

  &.noBorder {
    border: 1px solid transparent;
  }
}

.imgContainer {
  display: grid;
  place-items: center;
  margin-right: 6px;
  width: 40px;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 7px 0;
  overflow: hidden;
}

.proofLabel {
  align-items: center;
  display: flex;

  svg {
    margin-right: 2px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.subtitle {
  margin-top: auto;
  font-size: 16px;
  color: var(--gray-30);
  display: flex;

  > div {
    display: inline-flex;
  }
}

.menu {
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 10px;
  color: var(--black-30);

  svg {
    cursor: pointer;
    &:hover {
      color: var(--black-00);
    }
  }
}

@media screen and (min-width: $display_w480) {
  .title {
    font-size: 20px;
  }
}
