@import "styles/layouts.module.scss";

.wrapper {
}

.walletAddr {
  width: 160px;
  display: flex;
  align-items: center;
}

.commitment {
  width: 150px;
}

.totalValue {
  width: 150px;
}

.cryptoAssets {
  width: 200px;

  &.cell {
    color: var(--blue-19);
  }

  > a {
    display: flex;
    align-items: center;

    > span {
      padding-right: 2px;
    }
  }
}

.notarized {
  width: 110px;
}

.onChain {
  width: 110px;
}

.wrapper {
  @media not screen and (min-width: 1320px) {
    .w1320 {
      display: none;
    }
  }

  @media not screen and (min-width: $big_display_min_width) {
    .w1024 {
      display: none;
    }
  }

  @media not screen and (min-width: 480px) {
    .w480 {
      display: none;
    }
  }
}
