.tableWrapper {
  overflow-x: scroll;

  table {
    border-collapse: collapse;
  }
}

.tableHeaderWrapper {
  background-color: var(--bright-gray-55);
  border-bottom: 1px solid var(--bright-green-81);
  padding: 0px 0px;
  width: 100%;
  word-wrap: break-word;
  color: var(--gray-30);
  font-weight: 700;

  th {
    padding: 11px 12px;
    position: relative;

    &::before {
      content: "";
      height: 20px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-left: 1px solid var(--bright-gray-40);
    }
  }
}

.tableRowWrapper {
  word-wrap: break-word;

  > td {
    padding: 11px 12px;
    position: relative;
  }

  a {
    color: var(--green-50);
    &:hover {
      text-decoration: underline;
    }
  }
}

.tableRowWrapper.selectedRow {
  background-color: #f6fbf8;
  border: 1px solid #9fb6bf;

  > td:first-child {
    border-left: 1px solid #9fb6bf;
  }
}

.pageLimitWarning {
  background-color: var(--bright-gray-55);
  padding: 11px 20px;
}
