.hashAlert {
  color: red;
  margin-bottom: 8px;
}

.passcode {
  margin-bottom: 12px;
  width: 200px;
}

.hashBtnRow {
  margin-top: 15px;
}

.hashResult {
  margin-top: 12px;
}

.signUpAlert {
  color: red;
  margin-top: 12px;
  word-wrap: break-word;
}

.btnRow {
  margin-top: 25px;
}

.signUpBtn {
  margin-top: 18px;
}

.suggestion {
  width: 280px;
  color: var(--gray-40);
}
