.wrapper {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 0px;
  font-size: 12px;

  a {
    &:hover {
      color: var(--bright-green-50);
    }
  }
}

.leftMenu {
  display: flex;

  > li:not(:last-child) {
    margin-right: 25px;
  }
}

.rightMenu {
  display: flex;
  align-items: center;
  margin-left: auto;

  > li:not(:last-child) {
    margin-right: 25px;
  }
}

.inactive {
  color: var(--gray-40);
}
