$dialog_zindex: 21;
$drawer_zindex: 20;

$mid_display_min_width: 480px;
$big_display_min_width: 1024px;

$masthead_tallheight_w1920: 64px;
$masthead_tallheight_w1120: 56px;
$masthead_two_column_height_w1120: 90px;
$masthead_two_column_height_w1920: 69px;

$masthead_height_w1920: 56px;

:export {
  big_display_min_width: $big_display_min_width;
}
