$dialog_zindex: 21;
$drawer_zindex: 20;

$display_w320: 320px;

$mid_display_min_width: 480px;
$display_w480: 480px;

$display_w768: 768px;

$big_display_min_width: 1024px;
$display_w1024: 1024px;

$big2_display_min_width: 1120px;
$display_w1120: 1120px;

$display_w1280: 1280px;

$masthead_tallheight_w1920: 64px;
$masthead_tallheight_w1120: 56px;
$masthead_two_column_height_w1120: 90px;
$masthead_two_column_height_w1920: 69px;

$masthead_height_w1920: 56px;

:export {
  big_display_min_width: $big_display_min_width;
}
