@import "@/styles/layouts.module.scss";

.tableHeaderCell {
  display: none;
  align-items: center;
  color: var(--gray-23);
  font-weight: 500;
  height: 100%;
  border-bottom: 1px solid var(--gray-60);
  padding-right: 5px;
  flex-shrink: 0;

  &:first-child {
    padding: 0px 10px 0 16px;
  }
}

.tableCell {
  display: none;
  padding-right: 5px;
  flex-shrink: 0;

  &:first-child {
    padding: 4px 10px 4px 16px;
  }
}

.alwaysRender {
  display: flex;
}

.flexGrow {
  display: flex;
  flex-grow: 1;
}

.tableCellInner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: $display_w320) {
  .w320 {
    display: flex;
  }
}

@media screen and (min-width: $display_w480) {
  .w480 {
    display: flex;
  }
}

@media screen and (min-width: $display_w1024) {
  .w1024 {
    display: flex;
  }

  .tableHeaderCell {
    &:first-child {
      padding: 0px 10px 0 10px;
    }
  }

  .tableCell {
    &:first-child {
      padding: 4px 10px 4px 10px;
    }
  }
}

@media screen and (min-width: $display_w1280) {
  .w1280 {
    display: flex;
  }
}
