@import "@/styles/layouts.module.scss";

.main {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.noRecord {
  height: 140px;
  color: var(--gray-30);
  display: grid;
  place-items: center;
}

.mainInner {
  padding: 16px 0px 20px;
  flex-grow: 1;
  background-color: var(--white-100);
  height: 100%;
}

.loading {
  padding: 0 16px;
}

.title {
  font-size: 24px;
  padding-left: 8px;
  padding-bottom: 20px;
  /* padding-left: 34px; */
  color: var(--gray-23);
}

.tableHeader {
  display: flex;
  /* gap: 8px; */
  align-items: center;
  height: 49px;
  padding: 0px 8px;
  flex-shrink: 0;

  &:not(.noData) {
    /* border-bottom: 1px solid var(--gray-60); */
  }
}

.tableBody {
  width: 100%;
  overflow: auto;
}

.tableBody2 {
  width: 100%;
  overflow: auto;
}

.tableBodyInner {
  width: 100%;
  position: relative;
}

.tableRow {
  display: flex;
  /* gap: 8px; */
  align-items: center;
  padding: 0px 8px;
  transition: 0.1s all;
  cursor: pointer;

  &:hover {
    background-color: var(--bright-gray-521);
  }
}

@media screen and (min-width: $big_display_min_width) {
  .main {
    /* padding: 16px 16px 20px; */
    padding: 16px 18px 0 0;
  }

  .mainInner {
    border-radius: 24px;
    padding: 16px 16px 20px;
  }

  .tableHeaderCell {
    &:first-child {
      padding: 0px 10px 0 10px;
    }
  }

  .tableCell {
    &:first-child {
      padding: 4px 10px 4px 10px;
    }
  }
}

@media screen and (min-width: $display_w320) {
  .w320 {
    display: flex;
  }
}

@media screen and (min-width: $display_w480) {
  .w480 {
    display: flex;
  }
}

@media screen and (min-width: $display_w1024) {
  .w1024 {
    display: flex;
  }
}

@media screen and (min-width: $display_w1280) {
  .w1280 {
    display: flex;
  }
}
