@import "@/styles/layouts.module.scss";

.wrapper {
  padding: 0px 0;
}

.item {
  display: flex;
  font-size: 13px;
  color: var(--black-20);
  /* border-top: 1px solid var(--bright-gray-32); */
  padding: 8px 0;
}

.img {
  font-size: 20px;
  padding-top: 3px;
  padding-right: 14px;
  color: var(--gray-30);
}

.label {
  font-weight: 500;
}

.value {
  padding-top: 4px;
  word-break: break-all;
}

.msg {
  /* padding: 6px 0; */
  color: var(--gray-50);
}
