.wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0px 0px;
  background-color: var(--dark-cyan-50);
  height: 41px;
  color: white;
  font-size: 12px;

  .logoArea {
    align-items: center;
    display: flex;
    padding: 0 20px;
    font-size: 1.245rem;
  }

  .mainMenu {
    list-style: none;
  }

  .rightMenu {
    display: flex;
    margin-left: auto;
  }

  .accountStat {
    padding: 0px 8px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .btnArea {
      align-items: center;
      display: flex;
      margin-left: 1px;
    }
  }

  .connectBtn {
    padding: 0px 8px;
    display: flex;
    align-items: center;
  }

  .dropdown {
    color: white;
    background-color: var(--dark-cyan-50);
    padding: 12px 13px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 2px 2px 4px #0006, inset 0 1px #414750;
    width: 180px;

    li:hover {
      cursor: pointer;
      color: var(--bright-green-30);
    }
  }
}
