.wrapper {
  display: flex;
  padding: 14px 20px;
  border: 1px solid gray;

  .leftMenu {
    border: 1px solid gray;
    width: 210px;
  }

  .mainMenu {
    list-style: none;
  }

  .rightMenu {
    margin-left: auto;
  }

  .accountStat {
    display: flex;

    .dropdown {
      background-color: gray;
    }
  }
}
