.wrapper {
  display: flex;
  padding: 14px 38px;

  .leftMenu {
    border: 1px solid gray;
    width: 210px;
  }

  .mainMenu {
    list-style: none;
  }

  .rightMenu {
    margin-left: auto;
  }
}
