.isOpen {
  background-color: var(--bright-gray-50);
}

.popoverWrapper {
  border-radius: 14px;
  // background-color: var(--bright-aqua-blue-60);
}

.modal {
  border-radius: 38px;
  background-color: var(--white-100);
  margin: 12px 6px;
  padding: 8px 0;
  width: 160px;
  display: flex;
  flex-direction: column;

  > li {
    // display: inline-block;
    padding: 0px 6px;
  }
}

.appItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 6px;
  font-size: 15px;

  &:hover {
    border-radius: 5px;
    background-color: var(--bright-gray-50);
  }

  svg {
    font-size: 18px;
    margin-right: 6px;
  }
}

.inactive {
  color: var(--gray-70);
}
