.isOpen {
  background-color: var(--bright-gray-50);
}

.popoverWrapper {
  border-radius: 38px;
  background-color: var(--bright-aqua-blue-60);
}

.modal {
  border-radius: 38px;
  background-color: var(--white-100);
  margin: 12px 12px;
  padding: 8px 0;
  width: 310px;

  > li {
    display: inline-block;
    padding: 8px 6px;
  }
}

.appItem {
  display: flex;
  width: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px 6px;

  &:hover {
    border-radius: 5px;
    background-color: var(--bright-gray-50);
  }

  svg {
    font-size: 30px;
    margin-bottom: 9px;
  }
}

.inactive {
  color: var(--gray-70);
}
