.wrapper {
}

.btnGroup {
}

.rawBtn {
}

.createBtn {
}

.isOpen {
  background-color: var(--bright-gray-50);
}

.popoverWrapper {
  background-color: var(--white-100);
  padding: 10px 12px;
  width: 320px;

  > li {
    display: inline-block;
    width: 95px;
  }
}

input.addrInput {
  background-color: var(--white-100);
  height: 34px;
}

.addrInputBox {
  margin-top: 4px;
  border: 1px solid var(--gray-70);
  border-radius: 3px;
  position: relative;
}

.popoverBtnRow {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;

  button:not(:disabled) {
    color: var(--aqua-blue-50);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  button:disabled {
    color: var(--aqua-blue-90);
  }
}
