@import "@/styles/layouts.module.scss";

.wrapper {
  width: 100%;
  height: 300px;

  /* border: 1px solid blue; */
}

.title {
  font-size: 1.22em;
  color: var(--gray-30);
  padding: 0px $side_padding 6px;
}

.titleInput {
  padding: 0 12px 8px;

  input {
    width: 100%;
    font-size: 15px;
    border: 1px solid var(--gray-74);
    color: var(--shy-gray-20);
    padding: 0.5em 0.65em;
  }
}

.editorWrapper {
  padding: 0px 12px 6px;

  > div {
    /* border: 1px solid var(--gray-74); */
    /* padding: 0.5em 0.65em; */
  }
}

.btnRow {
  border-top: 1px solid var(--gray-30);
}

@media screen and (min-width: $big_display_min_width) {
}
