.wrapper {
  display: flex;
  flex-direction: column;
  height: 112px;

  > div {
    flex-grow: 1;
  }
}

.btnRow {
  display: flex;
  align-items: center;

  button {
    padding: 7px 20px;
    border-radius: 20px;
  }
}
