@import "@/styles/layouts.module.scss";

.formWrapper {
  overflow-y: auto;
}

.form {
  max-width: 680px;
}

.sidePadding {
  padding: 0 16px;
}

.createBtnRow {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  /* padding-left: 45px; */
  /* padding-right: 45px; */

  > button {
    border-radius: 20px;
    height: 40px;
  }
}

.error {
  color: var(--red-50);
  margin-top: 18px;
}

.createBtn {
  display: flex;
  > span + div {
    margin-left: 3px;
  }
}

@media screen and (min-width: $mid_display_min_width) {
  .createBtnRow {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .createBtnRow {
    padding-left: 24px;
    padding-right: 24px;
  }
}
