.fadeOverlay {
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  z-index: 300;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  inset: 0;
}

.dialog {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 520px;
}

.base {
  display: inline-block;
}

.wrapper {
  border-radius: 5px;
  background-color: var(--white-100);
  width: 480px;
  padding: 12px 16px;
}

.header {
  font-size: 1.3em;
  font-weight: 500;
  padding: 6px 0;
}

.row:not(:first-child) {
  margin-top: 18px;
}

.merkleProofInput {
  margin-top: 4px;
  width: 100%;
  border: 1px solid var(--gray-70);
  border-radius: 3px;
  height: 110px;
  resize: none;
  padding: 3px;
}

.merkleWizard {
  padding: 10px 14px;
  border: 1px solid var(--bright-gray-30);
  border-radius: 3px;
  width: 100%;

  legend {
    padding: 0 4px;
  }
}

.addrInputBox {
  display: flex;
  align-items: center;
  margin-top: 4px;
  border-radius: 3px;
  position: relative;
  width: 100%;
}

.addrInput {
  width: 100%;
  border: 1px solid var(--gray-70);
  border-radius: 3px;
  outline: none;
  padding-left: 6px;
  padding-right: 30px;

  background-color: var(--white-100);
  height: 34px;
}

.connectBtn {
  color: var(--aqua-blue-50);
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.createBtnContainer {
  color: var(--aqua-blue-50);
  margin-top: 6px;

  &:hover {
    text-decoration: underline;
  }

  span {
    font-size: 13px;
  }
}

.dialogBtnRow {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;

  button:not(:first-child) {
    margin-left: 7px;
  }
}
