@import "@/styles/layouts.module.scss";

.interactiveArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.computedValue {
  padding: 3px 8px;
  font-size: 13px;
  color: var(--gray-30);
}

.btnGroup {
  align-items: center;
  display: flex;
  position: absolute;
  right: 2px;

  button {
    cursor: pointer;
    color: var(--blue-30);
  }
}

.signBtn {
  color: var(--aqua-blue-50);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: var(--aqua-blue-40);
  }
}
