@import "@/styles/layouts.module.scss";

.wrapper {
}

.entry {
  display: flex;
  align-items: center;
  padding: 14px 14px;
  cursor: pointer;

  &:hover {
    background-color: var(--bright-gray-60);
  }
}

@media screen and (min-width: $big_display_min_width) {
}
