.queryItemList {
  padding: 12px 0px 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.signInWithPrfsId {
  color: var(--gray-40);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 14px;
  border-bottom: 1px solid var(--bright-gray-32);
}

.blueText {
  color: var(--blue-14);
}

.prfsId {
  padding: 20px 0 10px;
  text-align: center;
  font-size: 13px;
  color: var(--gray-30);
}

.dataWarning {
  .title {
    padding: 8px 0;
    font-weight: 500;
  }

  .desc {
    padding: 10px 0 4px;
    line-height: 1.5;
    font-size: 13px;
  }
}

.signInBtn {
  padding: 10px 18px;
}

@media screen and (max-width: 480px) {
  .main {
    padding: 0 20px;
  }
}
