.wrapper {
}

.foldable {
  display: none;
}

.display {
  display: block;
}

.item {
  font-size: 15px;
  display: inline-block;

  svg {
    vertical-align: middle;
    margin-right: 3px;
  }

  &:not(:first-child) {
    &::before {
      content: ", ";
    }
  }
}

.btnRow {
  padding-top: 8px;
}
