.wrapper {
  display: flex;
  padding: 0 12px;
}

.beta {
  margin-left: 3px;
  font-size: 12px;
  background-color: #e9f0cd;
  padding: 2px 3px;
  border-radius: 3px;
}

.reconnectBtn {
  margin-left: 5px;
}
