.modalWrapper {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 360px;
  padding: 24px 24px;
  min-width: 320px;
}

.modalHeader {
  font-size: 20px;
}

.modalDesc {
  padding: 24px 0 14px;
  color: var(--gray-20);
}

.modalBtnRow {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}
