.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 660px;
  min-width: 1200px;
}

.body {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 56px;

  &.bigTopPadding {
    padding-top: 89px;
  }
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .wrapper {
    min-width: 320px;
  }

  .body {
    &.bigTopPadding {
      padding-top: 0;
      /* padding-top: 102px; */
    }
  }
}
