.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 580px;
  min-width: 1120px;
}

.body {
  /* display: flex; */
  /* justify-content: center; */
  flex-grow: 1;
  /* padding-top: 56px; */
  /* min-width: 1024px; */
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 1120px) {
  .wrapper {
    min-width: 360px;
  }

  .body {
    &.bigTopPadding {
      padding-top: 0;
      /* padding-top: 102px; */
    }

    &.noMinWidth {
      min-width: 0px;
    }
  }
}
