.container {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 510px;
  align-items: center;
}

.header {
  width: 100%;

  .row {
    display: flex;
    align-items: center;
  }

  .buttonRow {
    display: flex;
    justify-content: space-between;
  }

  .rightBtnGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.headerLabel {
  font-size: 18px;
}

.content {
  margin-top: 36px;
  width: 100%;
}
