.wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.topLabelArea {
  color: var(--gray-40);
  font-size: 13px;
  padding: 10px 14px;
  border-bottom: 1px solid var(--bright-gray-32);
}

.inputGroup {
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.blueText {
  color: var(--blue-14);
}

.signInData {
  padding: 18px 0;
  .label {
    font-weight: 500;
  }

  .item {
    font-size: 13px;
    color: var(--black-20);
    border-top: 1px solid var(--bright-gray-32);
    padding: 8px 0;
  }

  .item:last-child {
    border-bottom: 1px solid var(--bright-gray-32);
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding: 0 12px;
    justify-content: center;
  }

  .moduleWrapper {
    /* padding: 0 0; */
    border: none;
  }
}
