:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", "-apple-system", "system-ui", "BlinkMacSystemFont", "Segoe UI", Arial,
    "Helvetica Neue", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* border: 1px solid blue; */
}

html,
body {
  font-size: 14px;
  /* overflow-x: hidden; */
}

input,
select,
option,
textarea {
  font-family: "Roboto", "-apple-system", "system-ui", "BlinkMacSystemFont", "Segoe UI", Arial,
    "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  /* html { */
  /*   color-scheme: dark; */
  /* } */
}
