.wrapper {
  width: 480px;
  height: 320px;
  position: relative;
  border: 1px solid var(--gray-60);
  border-radius: 5px;
}

.container {
  height: 100%;
  overflow-y: scroll;
}

.powered {
  font-size: 0.89em;
  color: var(--gray-40);
  position: absolute;
  bottom: 2px;
  right: 5px;
}
