.wrapper {
  width: 368px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.title {
  font-size: 1.51em;
}

.subtitle {
  padding: 7px 0 1px;
  font-size: 1.17em;
}

.logoArea {
  display: flex;
  justify-content: center;
}

.btnRow {
  display: flex;
  margin-bottom: 11px;
  margin-top: auto;
  justify-content: space-between;

  > a {
    display: inline-flex;
    align-items: center;
  }

  button {
    height: 100%;
  }
}
