.wrapper {
  width: 368px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

.header {
}

.title {
}

.subtitle {
}

.logoArea {
  display: flex;
  justify-content: center;
}

.btnRow {
  display: flex;
  margin-bottom: 11px;
  margin-top: auto;
  justify-content: space-between;
}
