.wrapper {
  padding: 6px 7px;
  display: flex;
  align-items: center;
  position: relative;
  /* width: 390px; */
  border-radius: 5px;
  border: 1px solid var(--bright-gray-31);

  &.noBorder {
    border: 1px solid transparent;
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  margin-right: 12px;
  width: 50px;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 7px 0;
}

.prioritizedValues {
  font-size: 13px;
  font-style: italic;
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expression {
  font-size: 18px;
  font-weight: 500;
}

.bottom {
  margin-top: auto;
  font-size: 13px;
  color: var(--gray-30);
}

.url {
  /* margin-top: 4px; */
  font-size: 11px;
}

.menu {
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 10px;
  color: var(--gray-50);

  svg {
    cursor: pointer;
    &:hover {
      color: var(--black-00);
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 340px;
  }
}
