.wrapper {
  padding: 6px 7px;
  display: flex;
  align-items: center;
  position: relative;
  width: 420px;
  border-radius: 5px;
  border: 1px solid var(--bright-gray-31);
}

.imgContainer {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 7px 0;
}

.expression {
  font-size: 21px;
  font-weight: 500;
}

.bottom {
  margin-top: auto;
  font-size: 13px;
  color: var(--gray-30);
}

.url {
  font-size: 12px;
}

.menu {
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 10px;
  color: var(--gray-50);

  svg {
    cursor: pointer;
    &:hover {
      color: var(--black-00);
    }
  }
}

@media screen and (max-width: 480px) {
}
