.dialogOverlay {
  // display: grid;
  // place-items: center;
  z-index: 11;
}

.backdrop {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0px;
  display: grid;
  place-items: center;
}

.dialog {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 520px;
}

.QRContainer {
  position: relative;
  padding: 8px;

  .closeBtn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4px;
    margin-right: 4px;
    padding: 4px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--gray-70);
      border-radius: 14px;
    }
  }
}

.btnRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    color: var(--gray-30);
    cursor: pointer;
    font-size: 22px;

    &:hover {
      color: var(--black-00);
    }
  }
}
