.wrapper {
}

.base {
  display: inline-flex;

  button {
    height: 40px;
    padding: 0 15px;
    border-radius: 40px;
  }
}

.chooseProofTypeBtnInner {
  display: flex;
  align-items: center;
}

.dialogOverlay {
  background: rgba(74, 71, 81, 0.74);
  display: grid;
  place-items: center;
  z-index: 200;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  inset: 0;
}

.dialog {
  background-color: var(--black-00);
  border-radius: 10px;
  overflow: hidden;
  width: 570px;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  padding: 15px 18px;
}

.title {
  font-weight: 500;
}

.topBtnRow {
  display: flex;
  align-items: center;

  button {
    cursor: pointer;
  }
}

.bottomBtnRow {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  button {
    cursor: pointer;
  }
}

.selectProofType {
}
