.inputWrapper {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.inputTitleRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
