.wrapper {
  width: 100%;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
}

.img {
  font-size: 18px;
  margin-right: 8px;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-grow: 1;
  font-size: 16px;
}

.info {
  &.wrapper {
    background-color: rgb(237, 247, 237);
    color: rgb(30, 70, 32);
  }

  .img {
    color: rgb(46, 125, 50);
  }

  /* .content { */
  /*   color: rgb(95, 33, 32); */
  /* } */

  /* .btnGroup { */
  /*   color: rgb(211, 47, 47); */
  /* } */
}

.error {
  &.wrapper {
    background-color: rgb(253, 237, 237);
  }

  .img {
    color: rgb(211, 47, 47);
  }

  .content {
    color: rgb(95, 33, 32);
  }

  .btnGroup {
    color: rgb(211, 47, 47);
  }
}

.warn {
  &.wrapper {
    background-color: rgb(255, 244, 229);
  }

  .img {
    color: rgb(237, 108, 2);
  }

  .content {
    color: rgb(102, 60, 0);
  }

  .btnGroup {
    color: rgb(211, 47, 47);
  }
}

.rounded {
  border-radius: 4px;
}

.btnGroup {
  display: grid;
  place-items: center;
  font-size: 22px;
  padding-left: 6px;

  button {
    cursor: pointer;
  }
}
