@import "@/styles/layouts.module.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-y: auto;

  /* border: 1px solid red; */
}

.inner {
  display: flex;
  justify-content: center;
}

.header {
  height: 61px;
  border-left: 1px solid var(--bright-gray-32);
  border-right: 1px solid var(--bright-gray-32);

  /* border: 1px solid green; */
}

.main {
  flex-grow: 1;

  /* border: 1px solid green; */
}

.left {
}

.right {
  display: none;
}

.infiniteScroll {
  min-height: 300px;
  border-left: 1px solid var(--bright-gray-32);
  border-right: 1px solid var(--bright-gray-32);
}

.placeholder {
  height: 61px;
  border-left: 1px solid var(--bright-gray-32);
  border-right: 1px solid var(--bright-gray-32);

  /* border: 1px solid green; */
}

.rowContainer {
  border-top: 1px solid var(--bright-gray-32);
}

.rowWrapper {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: $big_display_min_width) {
  .right {
    display: flex;
  }

  .main {
    flex-grow: 0;
    position: relative;
    width: 980px;
  }
}
