@import "@/styles/layouts.module.scss";

.wrapper {
  position: absolute;
  height: $timeline_header_height;
  width: 100%;
  z-index: 1;

  /* border: 1px solid green; */
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 16px;

  > li {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* border: 1px solid red; */
  }
}

.logo {
  justify-content: center;
}
