.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  padding: 53px 0 0px;
  display: flex;
  height: 100%;
}

.leftBarContainer {
  width: 285px;
  flex-shrink: 0;
}

.contentArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  padding: 20px 45px;
  background-color: var(--bright-gray-50);
  /* border: 1px solid blue; */
}

.footerContainer {
  margin-top: auto;
}
