.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 53px 0 0px;
  height: 100%;
}

.inner {
  flex-grow: 1;
  height: 100%;
  max-width: 1500px;
  border: 1px solid blue;
}

.leftBarContainer {
  width: 285px;
  flex-shrink: 0;
}

.contentArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  padding: 0px 40px 20px 0px;
  /* background-color: var(--bright-gray-50); */
  /* border: 1px solid blue; */
}

.footerContainer {
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: auto;
}
