.wrapper {
  padding: 14px 24px;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid var(--gray-70);
}

.title {
  font-size: 1.545rem;
  margin-left: 5px;
  color: var(--gray-50);
  letter-spacing: -0.011em;
}
