.wrapper {
  table {
    width: 100%;
    /* border: 1px solid lightgray; */
  }

  tbody {
    /* border-bottom: 1px solid lightgray; */
  }
}

.tableRow {
  border-bottom: 1px solid var(--bright-gray-35);

  > td {
    padding: 7px 12px;
    position: relative;
    /* white-space: nowrap; */
    // word-wrap: break-word;
  }

  a {
    color: var(--aqua-blue-50);
    &:hover {
      text-decoration: underline;
    }
  }
}

.tableRow.selectedRow {
  background-color: var(--bright-green-90);
  border: 1px solid var(--green-80);
}

.pageLimitWarning {
  background-color: var(--bright-gray-55);
  padding: 11px 20px;
}

.tableSearch {
  border-top: 1px solid var(--bright-gray-31);
  border-bottom: 1px solid var(--bright-gray-31);
  display: flex;
  align-items: center;
  color: var(--gray-50);
  height: 40px;
  padding: 0 15px;

  .guide {
    color: var(--black-00);
    font-weight: 500;
    margin-right: 15px;

    svg {
      margin-right: 4px;
    }
  }

  input {
    padding: 3px 4px;
    width: 410px;
  }
}

.table2 {
  width: 100%;
}

.table2Head {
  background-color: var(--bright-gray-54);
  padding: 0px 0px;
  width: 100%;
  color: var(--gray-10);

  tr {
    /* border-top: 1px solid var(--bright-gray-31); */
    border-bottom: 1px solid var(--bright-gray-31);
  }

  th {
    font-weight: 500;
    padding: 6px 12px;
    position: relative;
    white-space: nowrap;
    text-align: left;
    // word-wrap: break-word;
  }

  th:last-child {
    /* width: 100%; */
  }
}

.table2Body {
  tr {
    border-bottom: 1px solid var(--bright-gray-35);
  }

  td {
    padding: 7px 12px;
    position: relative;
    /* white-space: nowrap; */
    // word-wrap: break-word;
  }

  a {
    color: var(--aqua-blue-50);
    &:hover {
      text-decoration: underline;
    }
  }
}

.table2Pagination {
}
