.wrapper {
}

.inputSection {
  textarea,
  input {
    border: 1px solid var(--gray-40);
    border-radius: 3px;
    width: 100%;
    max-width: 535px;
    padding: 6px;
  }

  textarea {
    resize: none;
  }

  &:not(:first-child) {
    margin-top: 14px;
  }
}

.choice {
  &:not(:first-child) {
    margin-top: 24px;
  }
}

.btnRow {
  margin-top: 14px;
}
