.wrapper {
  color: var(--gray-40);
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 10px;
  /* margin-bottom: 2px; */

  button {
    vertical-align: middle;
    height: 28px;
    width: 28px;
    display: inline-grid;
    place-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;

    &:hover {
      background-color: rgba(26, 26, 27, 0.1);
    }

    &:not(:first-child) {
      margin-left: 2px;
    }
  }

  svg {
    font-size: 15px;
  }
}

.highlightBtn {
  font-size: 15px;
  font-weight: 600;
}
