.wrapper {
}

.editor {
  width: 100%;
  min-height: 140px;
  /* border: 1px solid var(--gray-74); */
  padding: 0.5em 0.65em;
  color: var(--shy-gray-20);

  /* border: 1px solid red; */
}

.menuBar {
  margin-bottom: 19px;

  button {
    border: 1px solid var(--bright-gray-50);
    cursor: pointer;
    padding: 7px 8px;
    border-radius: 10px;

    &:hover {
      border: 1px solid var(--gray-60);
    }
  }

  button:not(:first-child) {
    margin-left: 12px;
  }
}

.isEditorEmpty:first-child::before {
  color: var(--shy-gray-20);
  opacity: 0.5;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.footer {
  padding-top: 8px;
  /* height: 52px; */
  margin-bottom: 0;
  display: flex;
  align-items: center;

  button {
    /* border: 1px solid var(--gray-74); */
    padding: 0.5em 0.65em;
    /* cursor: pointer; */

    /* &:hover { */
    /*   border: 1px solid var(--gray-60); */
    /* } */
  }
}
