@import "@/styles/layouts.module.scss";

.wrapper {
  min-width: 360px;
  padding: 14px 10px;

  &.isTutorial {
    border-bottom: 1px solid var(--bright-gray-32);
  }
}

.rightGroup {
  .bigScreen {
    display: none;
  }
}

.underline:hover {
  text-decoration: underline;
}

.menu {
  padding-left: 16px;
}

.signInBtn {
  font-size: 14px;
}

@media screen and (min-width: $big2_display_min_width) {
  .wrapper {
    /* min-width: 360px; */
    /* padding: 14px 10px; */
  }

  .bigScreen {
    display: flex;
    align-items: center;
  }

  .rightGroup {
    height: 40px;

    /* border: 1px solid blue; */
  }
}
