@import "@/styles/layouts.module.scss";

.row {
  padding: 1px 0 18px;
}

.tweetContent {
  padding-bottom: 14px;
}

.tweetContentBtnRow {
  display: flex;
  align-items: center;

  > p {
    padding-left: 16px;
  }

  a {
    color: var(--blue-120);
  }
}

.claimCm {
  display: flex;

  .value {
    padding-left: 16px;
    font-size: 13px;
    word-break: break-all;
  }
}

.validateBtnRow {
  display: flex;
  align-items: center;

  .status {
    padding-left: 16px;
  }
}

.msg {
  padding-left: 10px;
}

.guideRow {
  font-size: 13px;
  color: var(--gray-30);
  padding-bottom: 8px;
}

.btnRow {
  padding-top: 4px;
}

.createBtnRow {
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 30px;

  > button {
    border-radius: 20px;
    height: 40px;
  }
}

.createBtn {
  padding-left: 24px;
  padding-right: 24px;

  .content {
    display: flex;
    align-items: center;

    > * + span {
      padding-left: 3px;
    }
  }
}

.input {
  height: 40px;
}

.success {
  color: var(--green-60);
}

.error {
  color: var(--red-50);
  font-size: 13px;
}

.spinner {
  margin-left: 3px;

  div {
    border-width: 2px;
    border-top-color: inherit;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .section {
    width: 480px;
  }

  .cryptoAsset {
    .item {
      flex-direction: row;
    }
  }

  .claimCm {
    .value {
      width: 300px;
    }
  }

  .createBtnRow {
    padding-left: 24px;
    padding-right: 24px;
  }
}
