.container {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding-left: 230px;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding-left: 0px;
  }
}
