.topRow {
  height: 10px;
  border-bottom: 1px solid var(--bright-gray-36);
}

.wrapper {
  flex-grow: 1;
  display: flex;
  /* flex-direction: column; */
  /* margin-right: 15px; */
  /* padding-left: 230px; */
  padding-bottom: 24px;

  // border: 1px solid red;
}

.formWrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1158px;
  flex-direction: column;
  /* justify-content: center; */

  /* border: 1px solid red; */
}

.loading {
  padding-top: 24px;
}

.leftPadding {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 230px;
  min-width: 110px;
  flex-basis: 110px;

  /* border: 1px solid blue; */
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .wrapper {
    /* margin-left: 30px; */
    /* padding-left: calc((100% - 1150px) / 2); */
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    margin-right: 0px;
    /* padding-left: 0px; */
  }

  .formWrapper {
    margin-left: 0px;
    padding: 0 10px;
  }

  .loading {
    padding-left: 12px;
  }

  .leftPadding {
    display: none;
  }
}
