.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 24px;

  height: 28vh;
  max-height: 200px;

  > div {
    margin-top: auto;
  }
}

.small {
  margin-bottom: 18px;
}
