.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  height: 28vh;
  max-height: 280px;

  > div {
    margin-top: auto;
  }
}

.proofTypeChosen {
  margin-bottom: 14px;
  max-height: 160px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: auto;
    margin-top: 15px;
    margin-bottom: 14px;
  }
}
