.wrapper {
  padding: 0px 21px;
  margin: 34px 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 560px;

  /* border: 1px solid blue; */

  ul {
    display: flex;
    align-items: center;
  }
}

.header {
  flex-direction: column;
  display: flex;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;

    svg {
      font-size: 20px;
      margin-right: 5px;
    }
  }

  .proofType {
    display: flex;
    align-items: center;
    background-color: #f9f9f6;
    border: 1px solid var(--bright-gray-30);
    cursor: default;
    border-radius: 5px;
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 18px 0;
  }

  .proofTypeLabel {
    margin-left: 5px;
  }
}

.uploadSection {
  margin-top: 20px;
  line-height: 21px;
}

.uploadBtn {
  div + span {
    margin-left: 4px;
  }
}

.postCreateBtnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;

  li:not(:first-child) {
    margin-left: 12px;
  }

  button {
    height: 36px;
    padding: 0 16px;
  }

  .inProgress {
    background-color: var(--blue-12);
  }
}

.verifyBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* font-size: 13px; */
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  color: var(--black-20);

  svg {
    transition: all 0.25s ease-out;
  }
}

.verifyProofFormRow {
  border-top: 1px solid var(--bright-gray-30);
  border-bottom: 1px solid var(--bright-gray-30);
  margin: 38px 0 0;
  padding: 12px 18px;
}

.verifyProofFormWrapper {
  padding: 0px 4px;
  max-height: 0;
  overflow: hidden;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 225ms;
  opacity: 0;

  .verifyProofModuleWrapper {
    margin-top: 18px;
  }
}

.isVerifyOpen {
  .verifyBtn {
    svg {
      transform: rotate(180deg);
    }
  }

  .verifyProofFormWrapper {
    padding-top: 14px;
    max-height: 1200px;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0px 10px;
    width: 100%;
  }
}
