.wrapper {
  padding: 2px 42px;
  /* border: 1px solid var(--bright-gray-30); */

  ul {
    display: flex;
    align-items: center;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  svg {
    font-size: 20px;
    margin-right: 5px;
  }
}

.proofTypeRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .button {
    display: flex;
    align-items: center;
    background-color: var(--white-100);
    border: 1px solid var(--bright-gray-30);
    cursor: default;
    border-radius: 40px;
    height: 44px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.uploadSection {
  margin-top: 20px;
  line-height: 21px;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;

  li:not(:first-child) {
    margin-left: 12px;
  }

  button {
    height: 36px;
    padding: 0 20px;
  }
}

.footer {
  margin-top: 26px;
  border-top: 1px solid var(--bright-gray-30);
  padding-top: 14px;

  .verifyBtn {
    display: flex;
    font-size: 13px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: var(--black-20);

    svg {
      transition: all 0.25s ease-out;
    }
  }

  .isVerifyOpen {
    svg {
      transform: rotate(180deg);
    }
  }
}

.verifyProofFormRow {
  margin-top: 38px;
}
