.wrapper {
  max-width: 760px;
}

.proofName {
  input {
    max-width: 535px;
  }
}

.tableContainer {
  border: 10px solid var(--bright-gray-50);
}

.tableBorder {
  border: 1px solid var(--bright-gray-30);
}

.embeddedTable {
  border-top: 1px solid var(--bright-green-81);
}

.dropdownContainer {
  width: 535px;

  > div:first-child {
    margin-bottom: 5px;
  }
}

.publicInputEntry {
  display: flex;

  .left {
    width: 40px;
  }
  .right {
    margin-left: 10px;
    flex-grow: 1;
  }

  &:not(:first-child) {
    margin-top: 7px;
  }
}

.inputContainer {
  max-width: 535px;
  width: 100%;
}

.computedInput {
}
