.wrapper {
  max-width: 760px;
}

.textInputContainer {
  &:not(:first-child) {
    margin-top: 15px;
  }

  input {
    max-width: 535px;
  }
}

.tableContainer {
  border: 10px solid var(--bright-gray-50);
}

.tableBorder {
  border: 1px solid var(--bright-gray-30);
}

.embeddedTable {
  border-top: 1px solid var(--bright-green-81);
}

.dropdownContainer {
  width: 535px;

  > div:first-child {
    margin-bottom: 5px;
  }
}

.publicInputEntry {
  display: flex;

  .inputIdx {
    width: 40px;
  }

  .inputGroup {
    margin-left: 10px;
    flex-grow: 1;
  }

  .inputLabel {
  }

  .inputDesc {
    margin-top: 3px;
    color: var(--gray-31);
  }
}

.publicInputEntry:not(:first-child) {
  margin-top: 15px;
}

.inputContainer {
  margin-top: 4px;
  max-width: 535px;
  width: 100%;
}

.computedInput {
  padding: 5px 5px;
  border: 1px solid var(--gray-60);
  background-color: var(--bright-gray-55);
  color: var(--gray-40);
}
