.wrapper {
}

.label {
  font-size: 1.59em;
  font-weight: 500;
}

.desc {
  margin-top: 16px;
}

.questions {
  margin-top: 35px;
}

.btnRow {
  margin-top: 25px;
}

.prfsSdk {
  margin-top: 42px;
}
