@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 14px;
  min-height: 120px;
  max-height: 280px;
}

.lineBreak {
}

.text {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  /* word-break: break-all; */
}

.proofs {
  margin-left: 0.3em;
}

.proofTypeChosen {
  margin-bottom: 14px;
  max-height: 160px;
}

@media screen and (min-width: $big2_display_min_width) {
  .wrapper {
    margin-top: 0px;
    margin-bottom: 24px;
    height: 22vh;
  }

  .text {
    font-size: 61px;
  }

  .lineBreak {
    display: none;
  }
}
