.fadeOverlay {
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  z-index: 300;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  inset: 0;
}

.dialog {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  min-width: 320px;
}
