.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0px;
  padding-bottom: 32px;
  overflow-x: auto;

  border: 1px solid blue;
}

.upperRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 18px 0 10px;

  .consoleLink {
    display: flex;
    align-items: center;
    color: var(--aqua-blue-50);

    svg {
      margin-left: 3px;
    }
  }
}

.meta {
  width: 580px;
  // border: 1px solid red;

  .bannerContainer {
    display: flex;
    justify-content: center;
  }

  .content {
    word-break: break-all;
    word-wrap: break-word;

    .label {
      font-weight: 500;
      font-size: 1.5em;
      margin-bottom: 8px;
    }

    .desc {
      line-height: 1.49;
    }
  }

  .proofDetailContainer {
    margin-top: 32px;
    /* border: 1px solid black; */
  }
}

.proofDetail {
  display: flex;
  justify-content: center;
  // width: 340px;
  margin-left: 72px;
}

.verifyProofFormWrapper {
  width: 340px;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 10px 32px;
    flex-direction: column;
  }

  .headerLabel {
    font-size: 16px;
  }

  .meta {
    width: 100%;
    .proofDetailContainer {
      display: flex;
      justify-content: center;
    }
  }

  .proofDetail {
    margin-left: 0px;

    width: 100%;
  }
}
