.wrapper {
  display: flex;
  flex-direction: column;
  width: 510px;
  align-items: center;
}

.header {
  width: 100%;

  .logoContainer {
    display: flex;
    justify-content: center;
  }

  .titleRow {
    margin-top: 12px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }

  .buttonRow {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
    }
  }
}

.headerLabel {
  font-size: 18px;
}

.content {
  margin-top: 36px;
}

.bannerContainer {
  display: flex;
  justify-content: center;
}

.proofDetailContainer {
  margin-top: 32px;
  /* border: 1px solid black; */
}

.content {
  word-break: break-all;
  word-wrap: break-word;

  .label {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  .desc {
    line-height: 1.49;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding: 0 6px;
  }
}
