.topRow {
  display: flex;
  height: 47px;
  padding-left: 230px;

  border-bottom: 1px solid var(--bright-gray-36);

  .mainMenu {
    margin-left: 30px;
    display: flex;
    width: 580px;
    align-items: center;
    border: 1px solid gray;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0px;
  padding-bottom: 32px;
  padding-left: 230px;
  overflow-x: auto;

  /* border: 1px solid blue; */
}

.upperRow {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 42px;

  .consoleLink {
    display: flex;
    align-items: center;
    color: var(--aqua-blue-50);

    svg {
      margin-left: 3px;
    }
  }
}

.meta {
  width: 580px;
  margin-left: 30px;
  margin-top: 20px;

  /* border: 1px solid red; */

  .bannerContainer {
    display: inline-flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .content {
    word-break: break-all;
    word-wrap: break-word;

    .label {
      font-weight: 500;
      font-size: 1.5em;
      margin-bottom: 8px;
    }

    .desc {
      line-height: 1.49;
    }
  }

  .proofDetailContainer {
    margin-top: 32px;
    /* border: 1px solid black; */
  }
}

.proofDetail {
  display: flex;
  justify-content: center;
  margin-left: 52px;
}

.verifyProofFormWrapper {
  width: 340px;
  padding-left: 20px;
  margin-top: 20px;

  border-left: 1px solid var(--bright-gray-31);

  /* border: 1px solid blue; */
}

.isTutorial {
  .proofDetail {
    margin-left: 32px;
  }

  .verifyProofFormWrapper {
    width: 330px;
  }
}

@media screen and (max-width: 1300px) {
  .topRow {
    padding-left: calc((100% - 1150px) / 2);
  }

  .wrapper {
    padding-left: calc((100% - 1150px) / 2);
  }
}

@media screen and (max-width: 1024px) {
  .topRow {
    padding-left: 10px;
  }

  .wrapper {
    width: 100%;
    padding: 0 10px 32px;
    flex-direction: column;
  }

  .headerLabel {
    font-size: 16px;
  }

  .meta {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;

    .proofDetailContainer {
      display: flex;
      justify-content: center;
    }
  }

  .proofDetail {
    margin-left: 0px;
    width: 100%;
  }

  .isTutorial {
    .proofDetail {
      margin-left: 0px;
    }
  }

  .verifyProofFormWrapper {
    padding-left: 0px;
    border-left: none;
  }
}
