.wrapper {
  display: flex;
}

.logoPane {
  flex-grow: 1;
  display: flex;
  align-items: center;

  border: 1px solid blue;

  .logoWrapper {
    display: flex;
    justify-content: center;
    width: 500px;
  }
}

.main {
  flex-grow: 1;

  border: 1px solid red;

  .intro {
    font-size: 18px;
    line-height: 1.51em;
    letter-spacing: 0.018em;
    padding: 0 36px;
    width: 580px;

    > p {
      margin-bottom: 8px;
    }
  }
}
