.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--white-100);
  padding: 8px 0px 0;
  font-size: 12px;
  color: var(--black-20);
  height: 48px;

  a:not(:first-child) {
    margin-left: 32px;
  }
}
