/* .searchArea { */
/*   min-width: 610px; */
/*   flex-basis: 630px; */
/*   flex-shrink: 1; */
/*   /* border: 1px solid red; */

/*   > div { */
/*     max-width: 648px; */
/*   } */
/* } */

.rightGroup {
  font-size: 24px;
}

.sideMargin {
  margin: 0 2px;
}

.entry {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  color: var(--gray-34);

  > a {
    display: grid;
    place-items: center;
  }

  &:hover {
    background-color: var(--bright-gray-40);
  }
}

.appPopover {
  > div:first-child {
    height: 100%;
    width: 100%;
  }
}

.signInBtn {
  padding: 0;
  padding-left: 10px;
}

.bigScreen {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1120px) {
  .bigScreen {
    display: none;
  }

  /* .searchArea { */
  /*   flex: 1; */
  /*   margin-top: 50px; */
  /*   min-width: 0px; */
  /*   display: flex; */
  /*   justify-content: center; */

  /*   > div { */
  /*     max-width: none; */
  /*   } */
  /* } */
}
