.wrapper {
  font-size: 13px;
  transition: height 0.4s ease-out;
}

.publicInputSection {
  margin-top: 24px;
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

  .title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.publicInputRow {
  margin-bottom: 12px;

  > p:first-child {
    margin-bottom: 4px;
  }

  .key {
    font-weight: 500;
  }
}

.proofRawSection {
  position: relative;
  margin-top: 28px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

  .title {
    position: absolute;
    left: 18px;
    top: 0;
    right: 18px;
    background-color: var(--white-100);
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .proofSizeRow {
    margin-bottom: 14px;
    .label {
      font-weight: 500;
    }
  }

  .data {
    padding: 0px 18px;
    width: 100%;
    word-break: break-word;
    overflow-y: auto;
    height: 360px;

    .placeholder {
      height: 44px;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 18px;
    height: 38px;
    background-color: var(--white-100);
  }
}

.btnRow {
  margin-top: 18px;

  button {
    border: 1px solid var(--bright-gray-30);
  }
}
