.wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  height: 100%;
  padding: 80px 0;
  background-color: #f4f4f5;

  .inner {
    display: flex;
    flex-direction: column;
  }

  .upper {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 28px;
  }

  .title {
    margin-bottom: 24px;

    .label {
      font-size: 1.3em;
      font-weight: 600;
    }

    .desc {
      margin-top: 0.36em;
    }
  }

  .footer {
    display: flex;
    margin-top: 52px;
    flex-grow: 1;
  }
}
