@import "@/styles/layouts.module.scss";

.wrapper {
  padding: 8px $side_padding 8px;
}

.inner {
}

.titleRow {
  display: flex;
  line-height: 1.92em;

  .label {
    font-size: 20px;
  }

  .arrow {
    display: grid;
    place-items: center;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
}

.subChannel {
  padding-top: 3px;
  color: var(--gray-40);
}

.isVisible {
  .arrow {
    transform: rotate(180deg);
  }

  .descRow {
    opacity: 1;
  }

  .desc {
    height: auto;
    white-space: normal;
  }

  .proofTypeIds {
    display: block;
  }
}

.descRow {
  line-height: 1.32em;
  color: var(--gray-20);
  overflow: hidden;
  opacity: 1;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 225ms;
  position: relative;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 4px;
  height: 24px;
}

.proofTypeIds {
  display: none;
  padding-top: 8px;
  font-size: 13px;
  color: var(--gray-30);

  .title {
    display: inline-block;
    padding-right: 5px;
  }

  .entry {
    line-height: 1em;
    font-size: 11px;
    padding: 3px 4px;
    background-color: var(--bright-gray-40);
    color: var(--gray-30);
    border-radius: 2px;
    display: inline-block;
  }
}

.blind {
  position: absolute;
  transition: all 0.25s ease-out;
  top: 6px;
  opacity: 1;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 1%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (min-width: $big_display_min_width) {
  .wrapper {
    padding: 18px $side_padding 10px;
  }
}
