@import "@/styles/layouts.module.scss";

.wrapper {
  padding: 12px $side_padding;
}

.inner {
  /* border: 1px solid gray; */
  /* padding: 12px; */
  line-height: 1.92em;
}

.label {
  font-size: 20px;
}

@media screen and (max-width: $big_display_min_width) {
  .wrapper {
  }
}
