@import "@/styles/layouts.module.scss";

.wrapper {
  padding: 0 $side_padding 24px;
}

.row {
  display: flex;

  &:not(:first-child) {
    padding-top: 8px;
  }
}

.channelBtn {
  cursor: not-allowed;
  height: 34px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 500;

  svg {
    padding-left: 5px;
    font-size: 20px;
  }
}

.button {
  font-size: 15px;
  padding: 0 10px;
  height: 34px;
}

.rightAlign {
  margin-left: auto;
}
