@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 60px;
  padding: 12px $side_padding;

  border-top: 1px solid var(--bright-gray-32);
  border-bottom: 1px solid var(--bright-gray-32);

  /* border: 1px solid blue; */
}

.author {
  font-weight: 500;
  font-size: 1.2em;
}

.body {
  a {
    color: var(--aqua-blue-50);
  }
}

@media screen and (min-width: $big_display_min_width) {
}
