.wrapper {
  /* border: 1px solid red; */
}

.v1460 {
  width: 310px;
}

@media screen and (max-width: 1502px) and (min-height: 740px) {
  .h1502 {
    height: calc(236px + 38px - 78px);
  }
}

@media screen and (max-width: 1460px) and (min-height: 740px) {
  .h1460 {
    height: calc(236px + 14px - 78px);
  }
}

@media screen and (max-width: 1460px) {
  .v1460 {
    display: none;
  }
}
