.placeholder {
  width: 310px;
}

.wrapper {
  margin-left: auto;
  position: absolute;
  top: 10px;
  margin-top: 56px;
  right: 10px;
  width: 300px;
  border-radius: 3px;
  background-color: var(--white-100);
  line-height: 1.33;
  z-index: 1;
  border: 1px solid var(--bright-gray-30);

  /* border: 1px solid red; */
}

.header {
  height: 34px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  background-color: var(--white-100);

  /* border: 1px solid blue; */

  button {
    cursor: pointer;
  }

  .progress {
    color: var(--gray-50);
  }
}

.body {
  min-height: 300px;
  max-height: 70vh;
  overflow-y: auto;
}

.btnRow {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-100);

  button {
    height: 28px;
  }
}

.finishBtn {
  border: 1px solid var(--gray-70);
}

.bigTopMargin {
}

@media screen and (max-width: 480px) {
  .wrapper {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 5px;
    width: calc(100% - 10px);
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--bright-gray-30);
  }

  .body {
    min-height: 0;
    max-height: none;
    height: 200px;
  }

  .placeholder {
    height: calc(236px + 40px - 78px);
    /* display: none; */
    /* border: 1px solid red; */
  }
}
