.wrapper {
  /* border: 2px solid #3e1aea; */
  /* border-radius: 5px; */
  /* width: 100%; */
}

.tooltip {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ff962c;
    animation-name: radiating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #329d8e;
  animation-name: radiating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-delay: -0.4s;
}

@keyframes radiating {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(4);
    opacity: 0;
  }
}
