.wrapper {
  position: fixed;
  top: 95px;
  right: 0;
  width: 300px;
  margin-right: 24px;
  border: 1px solid var(--bright-gray-30);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 18px 18px;
  line-height: 1.33;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;

  button {
    cursor: pointer;
  }
}

.progress {
  color: var(--gray-50);
}

.btnRow {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.finishBtn {
  border: 1px solid var(--gray-70);
}

@media screen and (max-width: 480px) {
  .wrapper {
    top: auto;
    bottom: 45px;
    width: 340px;
    margin-right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
