@mixin smallScreen {
  position: fixed;
  top: auto;
  left: 5px;
  right: 5px;
  bottom: 15px;
  /* width: calc(100% - 10px); */
  display: flex;
  justify-content: center;
  /* width: 100%; */
  margin: 0;
  width: 100%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  border: 1px solid var(--bright-gray-30);

  .inner {
    min-width: 348px;
    max-width: 600px;
  }

  .body {
    min-height: 0;
    max-height: none;
    height: 200px;
  }

  .placeholder {
    display: block;
    height: calc(236px + 40px - 78px);
  }
}

.placeholder {
  width: 310px;
  border: 1px solid red;
}

.wrapper {
  margin-left: auto;
  position: absolute;
  top: 10px;
  margin-top: 56px;
  right: 10px;
  width: 300px;
  border-radius: 3px;
  background-color: var(--white-100);
  line-height: 1.33;
  z-index: 1;
  border: 1px solid var(--bright-gray-30);

  /* border: 1px solid red; */
}

.header {
  height: 34px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  background-color: var(--white-100);

  /* border: 1px solid blue; */

  button {
    cursor: pointer;
  }

  .progress {
    color: var(--gray-50);
  }
}

.body {
  min-height: 300px;
  max-height: 70vh;
  overflow-y: auto;
}

.btnRow {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-100);

  button {
    height: 28px;
  }
}

.finishBtn {
  border: 1px solid var(--gray-70);
}

.bigTopMargin {
  margin-top: 89px;
}

@media screen and (max-width: 1502px) {
  .wrapper.w1502 {
    @include smallScreen;
  }
}

@media screen and (max-width: 1690px) {
  .wrapper {
    @include smallScreen;
  }
}
