.wrapper {
  width: 270px;

  border: 1px solid blue;
}

.topList {
  padding-top: 16px;
  padding-bottom: 6px;

  .addBtn {
    padding-left: 16px;
    padding-right: 20px;
    height: 56px;
    border-radius: 16px;

    svg {
      margin-right: 12px;
      font-size: 24px;
    }
  }

  .addBtnContent {
    display: flex;
    align-items: center;
  }
}

.menuList {
  padding-top: 12px;
}

.menu {
  padding-left: 12px;

  .button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 16px;
    width: 100%;
    height: 44px;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-right: 14px;
    }
  }

  .isActive {
    font-weight: 700;
  }
}

.twitterMenu {
  img {
    width: 18px;
    height: 18px;
  }
}
