.dialog {
  /* margin: 15px; */
  /* background-color: white; */
  /* padding: 15px; */
  /* border-radius: 4px; */
}

.overlay {
  /* background: rgba(0, 0, 0, 0.8); */
  /* display: grid; */
  /* place-items: center; */
  z-index: 20;
}
