.wrapper {
  display: flex;

  // border: 1px solid red;
}

.leftBarContainer {
  inline-size: 0px;
  transition: inline-size 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  > div {
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: translate3d(-300px, 0, 0);
  }

  &.isVisible {
    inline-size: 300px;

    > div {
      transform: translate3d(0, 0, 0);
    }
  }
}

.list {
  margin-top: 32px;
}

.listItem {
  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--bright-gray-30);
    border-radius: 20px;
    padding: 8px 16px;

    &:hover {
      border: 1px solid var(--gray-60);
    }
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  p {
    margin-left: 8px;
  }
}
