$leftbar_width: 268px;
$leftbar_drawer_width: 284px;

.wrapper {
  display: flex;

  // border: 1px solid red;
}

.leftBarContainer {
  inline-size: 0px;
  transition: inline-size 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  > div {
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: translate3d(-$leftbar_width, 0, 0);
  }

  &.isVisible {
    inline-size: $leftbar_width;

    > div {
      transform: translate3d(0, 0, 0);
    }
  }
}

.leftBarDrawerContainer {
  display: none;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.28);

  &.isVisible {
    transform: translate3d(0, 0, 0);
  }
}

.main {
  padding: 0 16px 20px;
}

@media screen and (max-width: 1120px) {
  .leftBarContainer {
    display: none;
  }

  .leftBarDrawerContainer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: $leftbar_drawer_width;
    background-color: var(--white-100);
    z-index: 20;
    height: 100%;
    transform: translate3d(-$leftbar_drawer_width, 0, 0);
  }
}
