build_tasks = [
  "BuildPrfsEntitiesTSBindingTask",
  # "BuildJsDependenciesTask",
  # "CompileCircuitsTask",
  "BuildPrfsDriverSpartanWasmTask",
  "BuildPrfsDriverSpartanJsTask",
  "BuildPrfsCryptoJsTask",
]
