.wrapper {
  padding: 11px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--bright-gray-30);
  border-radius: 5px;
  height: 100px;

  &:not(:first-child) {
    /* border-top: 1px solid var(--bright-gray-30); */
    margin-top: 12px;
  }

  &:hover {
    background-color: var(--bright-gray-52);
  }
}

.leftCol {
  width: 70px;
}

.label {
  font-weight: 500;
}

.header {
  > span:not(:first-child) {
    margin-left: 4px;
    color: var(--gray-30);
  }
}

.prioritizedValues {
  margin-top: 3px;
}
