.wrapper {
  padding: 11px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-30);

  &:hover {
    /* background-color: var(--bright-gray-52); */
  }
}

.leftCol {
  width: 70px;
}

.label {
  font-weight: 500;
}

.header {
  > span:not(:first-child) {
    margin-left: 4px;
    color: var(--gray-30);
  }
}

.prioritizedValues {
  margin-top: 3px;
}
