.wrapper {
  width: 100%;
  height: 100%;

  /* border: 1px solid yellow; */
  :global(.fixed) {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

.right {
}

.feedContainer {
  height: 100vh;
  overflow-y: auto;
  padding-right: calc(50vw - 600px + 370px);
  display: flex;
  /* flex-direction: column; */
}

.t {
  position: sticky;
  top: 0px;
}

.main {
  width: 600px;
  height: max-content;
  border: 1px solid yellow;
}

.header {
  top: 0px;
  position: sticky;
  z-index: 1;
  border-bottom: 1px solid var(--white-100);
  height: 80px;
  background-color: var(--black-25);
}

.rightBarContainer {
  display: inline-flex;
  justify-content: center;
  width: 370px;
  border: 1px solid red;

  /* position: absolute; */
  /* top: 0px; */
  height: 1300px;
}
