.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  align-self: flex-start;
}

.driverMsg {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  width: 100%;
  color: var(--gray-30);

  .msg {
    span {
      display: inline-block;
    }

    a {
      cursor: pointer;
      margin-left: 4px;
      margin-right: 5px;
      display: inline-flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.moduleWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 16px 22px 10px;
  border-radius: 6px;

  /* border: 1px solid var(--bright-gray-30); */
}

.loaderBarWrapper {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;

  /* border: 1px solid red; */
}

.overlay {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;
}

.form {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}

.driverProgress {
  display: flex;

  .progressRow {
    display: flex;

    &:not(:last-child)::after {
      content: ",";
      margin-right: 5px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  color: var(--gray-30);
  font-size: 12px;

  /* border: 1px solid red; */

  .msg {
    text-align: center;
  }
}

.errorMsg {
  color: var(--red-50);
}

.inProgress {
  background-color: var(--blue-10);
}

@media screen and (max-width: 480px) {
  .moduleArea {
    padding: 24px 0px 24px;
    margin-left: 0px;
    border: none;
    border-radius: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--bright-gray-32);
  }

  .moduleWrapper {
    border: none;
    min-width: 0;
    padding: 12px 12px;
    width: 100%;
  }
}
