.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 230px;
  padding-top: calc(69px + 47px);

  /* border: 1px solid green; */
}

@media screen and (max-width: 1300px) {
  .container {
    padding-left: calc((100% - 1150px) / 2);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    min-width: 0px;
    padding-left: 0px;
    padding-top: 102px;
  }
}
