.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding-left: 230px; */
  padding-top: 69px;

  /* border: 1px solid green; */
}

@media screen and (max-width: 1300px) {
  .container {
    /* padding-left: calc((100% - 1150px) / 2); */
  }
}

@media screen and (max-width: 1120px) {
  .container {
    min-width: 0px;
    padding-left: 0px;
    padding-top: 88px;
  }
}
