.container {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 490px;
  align-items: center;
}

.header {
  width: 100%;

  .row {
    display: flex;
    align-items: center;
  }
}

.headerLabel {
  font-size: 18px;
}

.content {
  margin-top: 36px;
}

.bannerContainer {
  display: flex;
  justify-content: center;
}

.proofDetailContainer {
  margin-top: 32px;
  /* border: 1px solid black; */
}
