.wrapper {
  display: flex;
<<<<<<< HEAD
  align-items: center;
  justify-content: center;
  height: 100%;

  /* border: 1px solid blue; */
}

.body {
  display: flex;

  /* border: 1px solid red; */
}

@media screen and (max-width: 480px) {
=======
  flex-direction: column;
  flex-grow: 1;
  min-height: 580px;
  min-width: 1120px;
}

.body {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 1120px) {
>>>>>>> main
  .wrapper {
    min-width: 360px;
  }

  .body {
<<<<<<< HEAD
    width: 100%;
    height: 100%;
=======
    &.noMinWidth {
      min-width: 0px;
    }
>>>>>>> main
  }
}
