.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  height: 22vh;
  min-height: 150px;
  max-height: 280px;

  > div {
    margin-top: auto;
    max-width: 140px;
  }
}

.proofTypeChosen {
  margin-bottom: 14px;
  max-height: 160px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: auto;
    margin-top: 15px;
    margin-bottom: 14px;

    > div {
      max-width: 120px;
    }
  }
}
