.interactiveArea {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  width: 100%;

  button {
    cursor: pointer;
    color: var(--aqua-blue-50);
  }
}

.btnGroup {
  display: flex;
  position: absolute;
  right: 7px;
  align-items: center;
}

.isInputValid {
  input {
    color: var(--black-00);
  }
}

.computedValue {
  padding: 3px 7px;
  border-top: 1px solid var(--bright-gray-30);
  color: var(--gray-50);
  font-size: 0.91em;
}
