.a {
  border-radius: 0;
  background-color: var(--gray-60);
  color: var(--blue-black-50);
  font-weight: 500;
  padding: 8px 12px;

  &:hover {
    background-color: var(--gray-50);
    cursor: pointer;
  }
}

.b {
  background-color: var(--bright-green-50);
  color: var(--blue-black-50);
  font-weight: 700;
  padding: 8px 12px;

  &:disabled {
    background-color: var(--bright-green-55);
    color: var(--gray-41);
  }

  &:disabled:hover {
    cursor: not-allowed;
  }

  &:hover:not([disabled]) {
    background-color: var(--bright-green-30);
    cursor: pointer;
  }
}

.transparent_a {
  border: 1px solid gray;
  border-radius: 1px;
  color: var(--gray-30);
  font-weight: 500;
  padding: 8px 12px;

  &:hover {
    color: var(--black-20);
    background-color: var(--bright-gray-40);
    cursor: pointer;
  }
}
