.wrapper {
  width: 204px;
  display: flex;
  flex-direction: column;
}

.auxMenu {
  padding: 8px 0;
  border-bottom: 1px solid var(--bright-gray-30);
}

.appMenu {
  padding: 8px 0;
}

.appItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 14px;

  &:hover {
    background-color: var(--bright-gray-50);
  }

  &:focus-visible {
    outline: none;
  }

  svg {
    margin-right: 8px;
  }
}
