.isOpen {
  button {
    background-color: var(--bright-gray-30);

    &:hover {
      background-color: var(--bright-gray-30);
    }
  }
}

.popoverWrapper {
  box-shadow: 0 4px 9px 3px rgba(0, 0, 0, 0.15), 0 1px 8px rgba(0, 0, 0, 0.3);
  /* box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px; */
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* border: 1px solid #b5bdb7; */
  border-radius: 5px;
  z-index: 10;
}

.modal {
  background-color: var(--white-100);
  margin: 4px 0px;
  padding: 4px 0;
  width: 160px;
  display: flex;
  flex-direction: column;

  > li {
  }
}

.appItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 15px;

  &:hover {
    background-color: var(--bright-gray-50);
  }

  svg {
    font-size: 18px;
    margin-right: 10px;
  }
}
