@import "styles/layouts.module.scss";

.wrapper {
  /* border: 1px solid red; */

  .username {
    width: 270px;

    &.cell {
      > img {
        width: 38px;
        height: 38px;
        border-radius: 20px;
      }

      > span {
        padding-left: 18px;
      }
    }
  }

  .accountId {
    width: 180px;
  }

  .commitment {
    width: 230px;
  }

  .document {
    width: 110px;

    &.cell {
      color: var(--blue-19);

      > a {
        display: flex;
        align-items: center;

        > span {
          padding-right: 2px;
        }
      }
    }
  }

  .notarized {
    width: 110px;
  }

  .onChain {
    width: 110px;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 49px;
  padding: 4px;

  &:not(.noData) {
    border-bottom: 1px solid var(--gray-60);
  }
}

.headerCell {
  padding: 4px;
  display: flex;
  align-items: center;
  color: var(--gray-23);
  font-weight: 500;
}

.cell {
  padding: 4px;
  display: flex;
  align-items: center;
}

.listContainer {
  width: 100%;
  overflow: auto;

  .listInner {
    width: 100%;
    position: relative;
  }
}

.row {
  display: flex;
  align-items: center;
  padding: 4px;
  transition: 0.1s all;
  cursor: pointer;

  > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    background-color: var(--bright-gray-521);
  }
}

@media screen and (max-width: 1320px) {
  .priority2 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .priority1 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .w480 {
    display: none;
  }
}
