.wrapper {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.select {
  width: 60px;
}

.circuit_id {
  width: 160px;
  word-wrap: break-word;
}

.label {
  width: 160px;
}

.numInputs {
  width: 100px;
}

.author {
  width: 160px;
}

.createdAt {
  width: 120px;
}

.desc {
  width: 100%;
}
