.wrapper {
  width: 100%;
  background-color: var(--white-100);
}

.row {
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 8px;
  height: 44px;
  cursor: pointer;

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  &:hover {
    background-color: var(--bright-gray-60);
  }
}

.labelRow {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 3px;
    /* height: 24px; */
    /* width: 24px; */
    border-radius: 24px;

    svg {
      color: var(--gray-20);
    }

    &:hover {
      background-color: var(--bright-gray-30);
    }
  }
}

.proofTypeId {
  margin-top: 2px;
  line-height: 12px;
  font-size: 13px;
  color: var(--gray-50);
}
