.wrapper {
  margin-left: auto;
  position: absolute;
  top: 56px;
  right: 0px;
  width: 300px;
  height: calc(100% - 56px);
  background-color: var(--white-100);
  border-left: 1px solid var(--bright-gray-32);
  line-height: 1.33;
  z-index: 1;

  /* border: 1px solid red; */
}

.noTop {
  top: 0;
  height: 100%;
}

@media screen and (max-width: 1690px) {
  .wrapper {
    position: fixed;
    top: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    margin: 0;
    border-top: 1px solid var(--bright-gray-30);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    height: 280px;
    width: 100%;
  }
}
