.wrapper {
  padding: 48px 40px 36px;
  min-height: 500px;
  border: 1px solid var(--bright-gray-32);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  &:not(:first-child) {
    margin-top: 36px;
  }
}

.inputCollected {
  border: 1px solid var(--bright-gray-32);

  padding: 10px 14px;
}

.nextBtn {
  /* padding-left: 24px; */
  /* padding-right: 24px; */
}

.blueLink {
  font-weight: 500;
  color: var(--blue-15);
  padding: 9px 0 3px;
  cursor: pointer;
}
