.wrapper {
  position: relative;
}

.loadingOverlay {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;
}

.inputArea {
  padding-top: 24px;

  .label {
  }

  .content {
    position: relative;
    border: 1px solid var(--bright-gray-32);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;

    .value {
      padding: 10px 14px;
      word-break: break-all;
      line-height: 24px;
    }

    .showPasswordBtn {
      display: grid;
      place-items: center;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      font-size: 20px;
      cursor: pointer;
      color: var(--gray-20);

      &:hover {
        background-color: var(--bright-gray-32);
      }
    }

    .btnArea {
      padding: 4px 5px;
      border-left: 1px solid var(--bright-gray-32);
      display: flex;
      align-items: center;
    }
  }
}

.secretKey {
  font-size: 13px;
}

.borderTop {
  border-top: 1px solid var(--bright-gray-32);
}
