.container {
  display: flex;
  padding: 102px 0 82px;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.245rem;
}

.homeFooter {
  display: flex;
  align-items: center;
  background-color: var(--bright-gray-30);
  height: 46px;
}
