.inputGroup {
  &:not(:first-child) {
    margin-top: 36px;
  }
}

.blueLink {
  font-weight: 500;
  color: var(--blue-120);
  padding: 9px 0 3px;
  cursor: pointer;
}

.prfsLink {
  display: flex;
  align-items: center;

  svg {
    margin-left: 3px;
  }
}
