.id {
  width: 80px;
}
.name {
  width: 160px;
}
.numInputs {
  width: 100px;
}
.createdAt {
  width: 180px;
}
.author {
  width: 180px;
}
.desc {
  flex-grow: 1;
}

.tableHeader {
  display: flex;
  width: 100%;

  > div {
    padding: 11px 20px;
    position: relative;
  }
}

.tableRow {
  display: flex;

  > div {
    padding: 11px 20px;
    position: relative;
  }
}

.proofTypesHeader {
  display: flex;
  justify-content: space-between;

  background-color: var(--bright-gray-55);
  border-bottom: 1px solid var(--bright-green-81);

  > div {
    display: flex;
    align-items: center;
  }

  .label {
    padding: 18px 18px;
    font-weight: 600;
    font-size: 1.25em;
    color: #2b2a2d;
  }

  .createBtn {
    border: 1px solid black;
  }
}
