:root {
  --gray-10: #2b2a2d;
  --gray-20: #373739;
  --gray-25: #474755;
  --gray-30: #545b64;
  --gray-31: #555756;
  --gray-32: #5a5b5b;
  --gray-33: #5c5c5c;
  --gray-34: #5f6368;
  --gray-40: #687078;
  --gray-50: #8a8c8c;
  --gray-60: #acaca6;
  --gray-70: #b5bdb7;
  --gray-80: #c8d0ca;
  --bright-gray-30: #d6d9d9;
  --bright-gray-31: #d8d7dc;
  --bright-gray-32: #dadce0;
  --bright-gray-33: #dadfdf;
  --bright-gray-35: #eaeded;
  --bright-gray-36: #ebebeb;
  --bright-gray-40: #ececec;
  --bright-gray-50: #f2f1f1;
  --bright-gray-51: #f2f2f2;
  --bright-gray-52: #f4f4f5;
  --bright-gray-53: #f7f7f7;
  --bright-gray-54: #f9f9f9;
  --bright-gray-55: #fafafa;
  --bright-gray-60: #fbfbfa;
  --bright-gray-70: #fcfcfc;

  --aqua-blue-40: #2944b1;
  --aqua-blue-50: #3857d3;
  --aqua-blue-90: #9ba6ce;

  --bright-aqua-blue-60: #eff2ff;
  --bright-aqua-blue-70: #f3f4fb;
  --bright-aqua-blue-80: #f4f4ff;

  --blue-50-alpha50: rgba(5, 115, 225, 0.5);

  --blue-10: #11458a;
  --blue-11: #1a0dab;
  --blue-12: #1b62c0;
  --blue-13: #1b63c1;
  --blue-14: #1b66c9;
  --blue-15: #1a73e8;
  --blue-13: #1d74c1;
  --blue-20: #2c5abb;
  --blue-30: #3367d6;
  --blue-40: #3d7293;
  --blue-50: #1155cc;

  --dark-blue-50: #1a0dab;

  --red-50: #d93025;

  --bright-green-30: #7beab6;
  --bright-green-50: #82f7c0;
  --bright-green-80: #e5f2f0;
  --bright-green-81: #e8dfe6;
  --bright-green-90: #f6fbf8;

  --turquoise-50: #008686;

  --green-50: #30e867;
  --green-51: #3f8386;
  --green-60: #53bd5a;
  --green-80: #9fb6bf;

  --blue-black-50: #2f3139;

  --dark-cyan-40: #122b33;
  --dark-cyan-50: #222f2c;

  --dark-purple-30: #2d282b;
  --dark-purple-40: #332d30;
  --dark-purple-41: #3d278c;

  --black-00: #000000;
  --black-10: rgb(0, 0, 0, 0.87);
  --black-20: #121313;
  --black-25: #1b1b1b;
  --black-27: #202124;
  --black-30: #313030;

  --white-100: #fff;
}

[data-theme="light"] {
  --text-color-1: #000;
}

[data-theme="dark"] {
  --text-color-1: #fff;
}
