.wrapper {
  width: 100%;
  word-break: break-all;
}

.title {
  font-weight: 500;
  font-size: 1.2em;
}

.label {
  font-weight: 500;
  width: 220px;
  vertical-align: top;
}

.value {
  /* font-family: "JetBrains Mono", monospace; */
  /* padding: 6px 8px; */
  /* border: 1px solid var(--bright-gray-31); */
  /* border-radius: 5px; */
  /* font-size: 13px; */
  /* margin-top: 12px; */
}

.tableWrapper {
  margin-top: 5px;
}
