.wrapper {
  position: relative;
}

.main {
  padding: 24px 0;

  .img {
    color: var(--gray-20);
    text-align: center;
    padding: 6px 0;
  }

  .prfsId {
    font-size: 13px;
    text-align: center;
    color: var(--gray-20);
    padding: 12px;
  }
}

div.secondBtnRow {
  margin-top: 0px;
}

div.btnRow {
  margin-bottom: 0px;
}
