.wrapper {
  width: 100%;
  overflow-y: auto;

  /* border: 1px solid blue; */
}

.loading {
  height: 100%;
  display: grid;
  place-items: center;
}

.feedContainer {
  height: 100vh;
  overflow-y: auto;
  display: flex;

  border: 1px solid red;

  .left {
    position: relative;
    width: 598px;
  }

  .right {
  }

  .infiniteScroll {
    min-height: calc(100vh - 52px);
    border-left: 1px solid var(--bright-gray-32);
    border-right: 1px solid var(--bright-gray-32);
  }
}

.placeholder {
  height: 52px;
  border-left: 1px solid var(--bright-gray-32);
  border-right: 1px solid var(--bright-gray-32);

  /* border: 1px solid green; */
}

.row {
  height: 100px;
}
