.fadeOverlay {
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  z-index: 300;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  inset: 0;
}

.dialog {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 520px;
}

.interactiveArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.computedValue {
  padding: 3px 7px;
  border-top: 1px solid var(--bright-gray-30);
  color: var(--gray-50);
  font-size: 0.91em;
}

.title {
  display: flex;
  align-items: center;
}

.setLabel {
  margin-left: 4px;
}

.btnRow {
  font-size: 12px;

  button {
    display: flex;
    cursor: pointer;
    color: var(--gray-30);

    &:hover {
      color: var(--black-00);
    }
  }

  svg {
    margin-right: 3px;
  }
}

.btnGroup {
  align-items: center;
  display: flex;
  position: absolute;
  right: 7px;

  button {
    cursor: pointer;
    color: var(--aqua-blue-50);
  }
}

@media screen and (max-width: 480px) {
  .title {
    align-items: normal;
    flex-direction: column;
  }

  .setLabel {
    margin-left: 0px;
  }

  .right {
    align-self: stretch;
  }
}
