.wrapper {
  position: relative;
  /* border: 1px solid black; */
}

.base {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* width: 100%; */
}

.popover {
  box-shadow: 0 4px 9px 3px rgba(0, 0, 0, 0.15), 0 1px 8px rgba(0, 0, 0, 0.3);
  /* box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px; */
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* border: 1px solid #b5bdb7; */
  border-radius: 5px;
  z-index: 10;
}
