.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  margin-right: 22px;

  a {
    color: var(--aqua-blue-50);
    &:hover {
      text-decoration: underline;
    }
  }
}

.row {
  display: flex;
  padding: 40px 30px 0;

  .right {
    margin-left: 24px;
  }
}

.singleValueRow {
  display: flex;
  padding: 40px 34px 0;
}

.summary {
  padding: 0 14px;
  font-size: 19px;
  display: flex;
  align-items: center;
}

.proofInstanceDetailTableContainer {
  width: 610px;
  /* padding: 40px; */
}

.social {
  line-height: 16px;
  padding: 8px 12px;
  color: var(--gray-30);

  li {
    display: flex;
    align-items: center;
  }

  li:not(:first-child) {
    margin-top: 8px;
  }

  svg {
    color: var(--gray-20);
    font-size: 16px;
    margin-right: 4px;
  }
}

.proofView {
  width: 100%;
  word-break: break-all;

  .label {
    font-weight: 500;
  }

  .value {
    font-family: "JetBrains Mono", monospace;
    padding: 6px 8px;
    border: 1px solid var(--bright-gray-31);
    border-radius: 5px;
    font-size: 13px;
    margin-top: 12px;
  }
}
