.wrapper {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.set_id {
  width: 150px;
}

.select {
  width: 60px;
}

.label {
  width: 260px;
}

.author {
  width: 150px;
}

.desc {
  // width: 100%;
}

.createdAt {
  width: 120px;
}
