.set_id {
  width: 150px;
}
.select {
  width: 60px;
  max-width: 60px;
}
.label {
  width: 160px;
}
.author {
  width: 150px;
}
.desc {
  flex-grow: 1;
}
.hash_algorithm {
}
.cardinality {
}
.createdAt {
  width: 120px;
}
.selectedRow {
}
