.wrapper {
  display: flex;
  gap: 160px;

  > div {
    width: 410px;
    height: 500px;

    /* border: 1px solid yellow; */
  }

  button {
    cursor: pointer;
  }
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigLogo {
  font-size: 7.745em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  row-gap: 18px;
}

.signUpBtn {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--gray-70);
  /* background-color: var(--white-100); */
  color: var(--white-100);
  font-weight: 500;
  font-size: 18px;

  height: 42px;
  width: 220px;
}

.createAccount {
  margin-top: 10px;
}

.signInBtn {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--gray-60);
  background-color: var(--white-100);
  color: var(--gray-20);
  font-weight: 500;
  font-size: 18px;

  height: 42px;
  width: 220px;
}
