.proofInstanceWidgetHeader {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-left: 25px;
  padding-right: 18px;
  border-bottom: 1px solid var(--bright-gray-31);
}

.btnArea {
  display: flex;
  align-items: center;
}

.tableWrapper {
  padding: 0 18px;

  thead {
    tr {
      border-top: none;
    }
  }
}
