.wrapper {
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
  }
}

.white_1 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 700;
  color: var(--aqua-blue-50);

  &:hover {
    background-color: var(--bright-gray-40);
  }
}

.aqua_blue_1 {
  border-radius: 4px;
  background-color: #546dd3;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  color: #fff;
  font-weight: 700;
  padding: 8px 12px;

  &:hover {
    background-color: #445dc6;
  }
}

.transparent_aqua_blue_1 {
  border-radius: 3px;
  color: var(--aqua-blue-50);
  font-weight: 500;
  padding: 10px 12px;
  display: flex;
  align-items: center;

  svg {
    font-size: 1.1em;
  }

  svg + span {
    margin-left: 0.2em;
  }

  &:hover {
    color: var(--aqua-blue-40);
    background-color: var(--bright-gray-40);
  }
}

.transparent_aqua_blue_1:disabled {
  color: var(--aqua-blue-90);
}

.transparent_aqua_blue_1_light {
  border-radius: 3px;
  color: var(--aqua-blue-50);
  padding: 10px 12px;
  display: flex;
  align-items: center;

  svg {
    font-size: 1.2em;
  }

  svg + span {
    margin-left: 0.2em;
  }

  &:hover {
    color: var(--aqua-blue-40);
    background-color: var(--bright-aqua-blue-60);
    cursor: pointer;
  }
}
