.main {
}

.overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.inputGroup {
  &:not(:first-child) {
    margin-top: 16px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding: 0 16px;
  }
}
