@import "@/styles/layouts.module.scss";

.main {
  padding: 0 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.inputArea {
  padding-top: 32px;
}

.inputGroup {
  height: 52px;

  &:not(:first-child) {
    margin-top: 24px;
  }
}

.guide {
  padding: 36px 0 6px;
  color: var(--gray-23);
}

.blue {
  color: var(--blue-05);
  font-weight: 500;
  cursor: pointer;
}

.signInBtn {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
}

@media screen and (min-width: $mid_display_min_width) {
  .main {
    padding: 0;
  }
}
