@import "@/styles/layouts.module.scss";

$inner_padding_width_big_screen: 30px;
$inner_padding_width_small_screen: 24px;

.wrapper {
}

.credList {
  padding-top: 24px;
}

.entry {
  cursor: pointer;
  padding: 0 $inner_padding_width_small_screen;
}

.item {
  padding: 14px 0;
  border-bottom: 1px solid var(--gray-82);
  position: relative;

  &::before {
    transition: background 0.2s;
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    height: 100%;
    border-radius: 16px;
  }

  &:hover {
    &::before {
      background-color: var(--bright-blue-55);
    }
  }

  .inner {
    position: relative;
    z-index: 1;
  }
}

.btnRow {
  padding: 0 $inner_padding_width_small_screen 12px;
}

.idRow {
  display: flex;
  justify-content: space-between;
}

.signedIn {
  display: flex;
  align-items: center;
  color: var(--green-32);

  svg {
    margin-right: 3px;
    color: var(--green-42);
  }
}

.passwordInput {
  margin: 14px 0;
}

.prfsId {
  font-weight: 500;
  font-size: 16px;
}

.useAnotherId {
  font-size: 16px;
}

@media screen and (min-width: $mid_display_min_width) {
  .item {
    /* overflow: hidden; */
  }

  .entry {
    padding: 0 $inner_padding_width_small_screen;
  }

  .btnRow {
    padding: 0px $inner_padding_width_small_screen 24px;
  }
}
