$inner_padding_width_big_screen: 30px;
$inner_padding_width_small_screen: 24px;

.wrapper {
}

.credList {
  padding-top: 24px;
}

.entry {
  cursor: pointer;
  padding: 0 $inner_padding_width_big_screen;

  &:hover {
    background-color: var(--bright-blue-52);
  }
}

.item {
  /* margin: 0 40px; */
  padding: 14px 0;
  border-bottom: 1px solid var(--bright-gray-32);
}

.btnRow {
  padding: $inner_padding_width_big_screen;
}

.passwordInput {
  margin: 14px 0;
}

.prfsId {
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .item {
    overflow: hidden;
  }

  .entry {
    padding: 0 $inner_padding_width_small_screen;
  }

  .btnRow {
    padding: $inner_padding_width_small_screen;
  }
}
