.addrInputWrapper {
  position: relative;

  .btnRow {
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: 100%;
  }
}

.addrInput {
  padding: 12px 14px 42px;
  transition: none;
  /* margin-bottom: 14px; */
}
