.computedValue {
  padding: 2px 6px;
  color: var(--gray-30);
  font-size: 13px;
}

.link {
  color: var(--aqua-blue-40);
  word-break: break-all;

  > svg {
    margin-left: 1px;
    vertical-align: middle;
  }

  &:hover {
    text-decoration: underline;
  }
}

.addrInput {
  padding: 12px 14px 32px;
  transition: none;
  /* margin-bottom: 14px; */
}
