.presetValsVoid {
  line-height: 20px;
  padding: 10px 0;
}

.or {
  /* padding: 0 3px; */
}

.interactiveArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  .addressInput {
    /* padding-right: 70px; */
  }
}

.computedValue {
  padding: 2px 6px;
  color: var(--gray-30);
  font-size: 13px;
}

.inputLabel {
  a {
    display: inline-flex;
    align-items: center;
    color: var(--aqua-blue-40);

    > svg {
      margin-left: 1px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
