.wrapper {
  border: 1px solid var(--gray-70);
  border-radius: 5px;
  padding: 34px 42px 50px;
}

.inputGroup {
  margin-top: 32px;

  input {
    border: 1px solid var(--gray-70);
    border-radius: 3px;
    padding: 7px 8px;
  }
}

.hashAlert {
  color: red;
  margin-bottom: 8px;
}

.passcode {
  margin-bottom: 12px;
  width: 200px;
}

.hashBtnRow {
  margin-top: 15px;
}

.hashResult {
  margin-top: 12px;
}

.signUpAlert {
  color: red;
  margin-top: 12px;
  word-wrap: break-word;
}

.btnRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
}

.suggestion {
  width: 280px;
  color: var(--gray-40);
}
