.title {
  padding-bottom: 16px;
}

.instructions {
  padding-bottom: 18px;
  list-style: none;
  counter-reset: item;

  li {
    counter-increment: item;
    margin-bottom: 5px;
  }

  li:before {
    margin-right: 10px;
    content: counter(item);
    border-radius: 100%;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }

  .item {
    padding-bottom: 14px;

    .desc {
      display: inline-block;
    }

    .content {
      padding-left: 28px;
    }
  }
}

.btnRow {
  padding-left: 28px;
}

.input {
  height: 40px;
}
