.tableHeader {
  display: flex;
  background-color: var(--bright-gray-55);
  border-bottom: 1px solid var(--bright-green-81);
  padding: 0px 0px;
  width: 100%;
  color: var(--gray-30);
  font-weight: 700;

  > div {
    padding: 11px 20px;
    position: relative;

    &::before {
      content: "";
      height: 20px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-left: 1px solid var(--bright-gray-40);
    }
  }
}

.tableRow {
  display: flex;

  > div {
    padding: 11px 20px;
    position: relative;
  }

  a {
    color: var(--green-50);
    &:hover {
      text-decoration: underline;
    }
  }
}

.set_id {
  width: 150px;
}
.label {
  width: 160px;
}
.author {
  width: 140px;
}
.desc {
  flex-grow: 1;
}
.hash_algorithm {
}
.cardinality {
}
.createdAt {
  width: 140px;
}
