@import "styles/layouts.module.scss";

.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  width: 720px;
  padding: 10px 0 20px;
}

@media screen and (max-width: $view_port_min_width_big_display) {
  .wrapper {
    padding: 0 14px;
  }
}
