@import "@/styles/layouts.module.scss";

.topRow {
  display: flex;
  padding: 0 10px;
  height: 47px;
  border-bottom: 1px solid var(--bright-gray-36);

  /* border: 1px solid blue; */
}

.content {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1158px;

  /* border: 1px solid green; */
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-width: 510px;
  max-width: 640px;

  width: 100%;
  margin-left: 0;

  /* border: 1px solid gray; */
}

.leftMenu {
  display: flex;

  li:not(:first-child) {
    margin-left: 18px;
  }
}

.link {
  display: flex;
  align-items: center;
  color: var(--aqua-blue-50);

  svg {
    margin-left: 3px;
  }
}

.rightPadding {
  width: 370px;
  display: none;

  /* border: 1px solid blue; */
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0px;
  padding-bottom: 32px;
  overflow-x: auto;

  /* border: 1px solid blue; */

  .content {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1158px;

    /* border: 1px solid blue; */
  }
}

.meta {
  margin-top: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 510px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerContainer {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding: 0 12px;
}

.content {
  word-break: break-all;
  word-wrap: break-word;

  .label {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  .desc {
    line-height: 1.49;
  }
}

.proofDetailContainer {
  margin-top: 32px;
  /* border: 1px solid black; */
}

.proofDataContainer {
  margin-left: 45px;
  margin-top: 40px;
  max-width: 370px;
}

.isLoading {
  padding: 0 30px;
}

.proofDataViewWrapper {
  width: 480px;
}

@media screen and (min-width: $display_w1024) {
  .content {
  }

  .meta {
    min-width: 0;
    max-width: none;
    align-items: flex-start;
  }

  .mainMenu {
    min-width: 0;
    max-width: none;
  }

  .rightPadding {
    display: block;
  }
}
