.wrapper {
  flex-grow: 1;
}

.descSection {
  margin-top: 16px;

  h2 {
    font-weight: 500;
  }
}

.section {
  margin-top: 24px;
  /* border-top: 1px solid var(--bright-gray-32); */
}

.headerSection {
  position: relative;
  height: 70px;
  /* border-bottom: 1px solid gray; */

  .top {
    position: absolute;
    top: 0;
    display: flex;
    font-size: 14px;
    cursor: pointer;

    .left {
      margin-right: 12px;
      display: flex;
      align-items: center;
    }

    .url {
      font-size: 12px;
      margin-top: 3px;
      color: var(--gray-31);
    }

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      border: 1px solid var(--bright-gray-30);
    }

    &:hover + .title {
      text-decoration: underline;
    }
  }

  .title {
    margin-top: auto;
    display: inline-block;
    font-weight: 400;
    font-size: 1.64em;
    cursor: pointer;
    color: var(--blue-11);
    margin-top: 44px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.miscSection {
  margin-top: 54px;
  /* font-size: 0.95em; */

  .h2 {
    font-size: 1.32em;
    font-weight: 400;
    margin: 22px 0 10px;
  }
}
