@import "@/styles/layouts.module.scss";

.error {
  .wrapper {
    background-color: rgb(253, 237, 237);
  }

  .content {
    color: rgb(95, 33, 32);
    > svg {
      color: rgb(211, 47, 47);
    }
  }

  .btnGroup {
    color: rgb(211, 47, 47);
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  font-size: 16px;

  > svg {
    font-size: 22px;
    margin-right: 14px;
  }
}

.btnGroup {
  display: grid;
  place-items: center;
  font-size: 22px;

  button {
    cursor: pointer;
  }
}
