.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    display: flex;
    flex-direction: column;
    max-width: 610px;
  }

  .upper {
    margin-bottom: 45px;
  }

  .widget {
    margin-bottom: 31px;
  }

  .widgetInner {
    padding: 21px 18px;
  }

  .widgetInner:not(:first-child) {
    border-top: 1px solid #dfdfdf;
  }

  .desc {
  }

  .signInBtnRow {
    margin-bottom: 18px;
  }

  .hashAlert {
    color: red;
    margin-bottom: 8px;
  }

  .radioBox {
    border: 1px solid #9fb6bf;
    padding: 13px 10px;
    display: flex;
    background-color: #f6fbf8;

    > div {
      margin-left: 12px;
    }

    .label {
      font-weight: 500;
      letter-spacing: 0.02em;
    }

    .desc {
      font-size: 0.94em;
      color: #4d4d4d;
    }
  }

  .passcode {
    margin-bottom: 12px;

    input {
      margin-top: 5px;
      border: 1px solid #acaca6;
      padding: 4px 5px;
    }
  }

  .signUpAlert {
    color: red;
    margin-bottom: 12px;
    word-wrap: break-word;
  }

  .footer {
    margin-top: 80px;
  }
}
