@import "@/styles/layouts.module.scss";

.row {
  padding: 1px 0 18px;
}

.btnRow {
  padding-top: 18px;
  display: flex;
  align-items: center;

  .status {
    padding-left: 16px;
  }
}

.section {
  width: auto;
}

.sectionBtnRow {
  display: flex;
  align-items: center;

  > p {
    padding-left: 16px;
  }

  a {
    color: var(--blue-120);
  }
}

.fetchBtn {
  > span + div {
    margin-left: 4px;
  }
}

.msg {
  padding-left: 10px;
}

.cryptoAsset {
  padding-top: 18px;
  font-size: 13px;
  color: var(--gray-20);

  .item {
    // padding-bottom: 0;
    flex-direction: column;

    &:not(:first-child) {
      padding-top: 4px;
    }
  }

  .label {
    font-weight: 500;
    margin-right: 3px;
  }
}

.inputBtnRow {
  padding-bottom: 9px;
}

.inputBtn {
  cursor: pointer;
  color: var(--blue-120);
}

.guideRow {
  font-size: 13px;
  color: var(--gray-30);
  padding-bottom: 8px;
}

.createBtnRow {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  /* padding-left: 45px; */
  /* padding-right: 45px; */

  > button {
    border-radius: 20px;
    height: 40px;
  }
}

.createBtn {
  /* padding-left: 24px; */
  /* padding-right: 24px; */

  .content {
    display: flex;
    min-width: 60px;
    justify-content: center;
    align-items: center;

    > span + * {
      margin-left: 3px;
    }
  }
}

.input {
  height: 40px;
}

.success {
  color: var(--green-60);
}

.error {
  color: var(--red-50);
  font-size: 13px;
}

.spinner {
  margin-left: 3px;

  div {
    border-width: 2px;
    border-top-color: inherit;
  }
}

@media screen and (min-width: $mid_display_min_width) {
  .createBtnRow {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .section {
    width: 480px;
  }

  .cryptoAsset {
    .item {
      flex-direction: row;
    }
  }

  .claimCm {
    .value {
      width: 300px;
    }
  }

  .createBtnRow {
    padding-left: 24px;
    padding-right: 24px;
  }
}
