.wrapper {
  .upper {
    background-color: var(--bright-gray-55);
    border-bottom: 1px solid #e8dfe6;
    padding: 14px 18px;
    font-weight: 600;
    font-size: 1.25em;
    color: #2b2a2d;
  }

  .content {
    // padding: 21px 18px;
  }
}
