.wrapper {
  .label {
    border: 1px solid gray;
    padding: 12px 15px;
  }

  .leftMenu {
    border: 1px solid gray;
    width: 210px;
  }

  .mainMenu {
    list-style: none;
  }

  .rightMenu {
    margin-left: auto;
  }
}
