.wrapper {
  width: 100vw;
  height: 100vh;
  border: 1px solid blue;
  padding-left: calc(50vw - 250px);
  padding-right: calc(50vw - 250px);
}

.topPlaceholder {
  height: 80px;
}

.feedContainer {
  width: calc(100vh - 80px);
}

.row {
  padding: 5px 0;
}
