.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.borderBox {
  width: 520px;
  height: 100vh;
  border: 1px solid red;
}

.topPlaceholder {
  height: 80px;
}

.feedContainer {
  /* border: 1px solid blue; */
  position: fixed;
  top: 0;
  left: calc(50vw - 260px);
  right: calc(50vw - 260px);
}
