.wrapper {
  width: 100vw;
  height: 100vh;
  padding-left: calc(50vw - 260px);
  padding-right: calc(50vw - 260px);
}

.topPlaceholder {
  height: 80px;
}

.feedContainer {
  width: 100%;
}

.rowItem {
  padding: 5px 0;
  border: 1px solid gray;
  display: flex;
  align-items: center;
}
