.wrapper {
  padding: 5px 0;
  display: flex;
  align-items: center;

  &:not(:first-child) {
    border-top: 1px solid var(--bright-gray-30);
  }
}

.label {
  font-weight: 500;
}

.header {
  > span:not(:first-child) {
    margin-left: 2px;
    color: var(--gray-30);
  }
}

.prioritizedValues {
  margin-top: 3px;
}
