@import "@/styles/layouts.module.scss";

.wrapper {
  position: relative;
  min-height: 150px;

  /* border-top: 1px solid var(--gray-70); */
}

.header {
  padding: 0 $side_padding;
}

.title {
  color: var(--black-27);
  font-size: 22px;
  font-weight: 500;
  word-break: break-all;
  padding-top: 8px;
}

.postMeta {
  padding-top: 14px;
  display: flex;

  .left {
    margin-right: 8px;
  }
}

.proofIdentities {
  margin-top: 3px;
  display: inline-flex;
  align-items: center;
  /* border: 1px solid var(--gray-70); */
  color: var(--gray-20);
  /* border-radius: 16px; */
  /* padding: 4px 10px; */
  cursor: pointer;
  font-size: 14px;

  svg {
    font-size: 20px;
    padding-right: 3px;
  }
}

.proofIdentity {
  display: flex;

  img {
    width: 20px;
    margin-right: 3px;
  }
}

.body {
  padding: 0 12px;
}

.comment {
  padding: 0 16px;
}

@media screen and (min-width: $big_display_min_width) {
  .wrapper {
  }

  .titleRow {
    padding: 22px 0;
  }
}
