@import "@/styles/layouts.module.scss";

.wrapper {
  position: relative;
  min-height: 150px;

  /* border-top: 1px solid var(--gray-70); */
}

.titleRow {
  padding: 18px 0 15px;
  border-bottom: 1px solid var(--bright-gray-35);
}

.inner {
  padding: 0 $side_padding;
}

.title {
  color: var(--black-27);
  font-size: 26px;
  font-weight: 500;
  word-break: break-all;
}

.postMeta {
  padding-top: 10px;
}

.participants {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--gray-70);
  color: var(--gray-20);
  border-radius: 16px;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 13px;

  svg {
    font-size: 20px;
    padding-right: 3px;
  }
}

@media screen and (min-width: $big_display_min_width) {
  .wrapper {
  }

  .titleRow {
    padding: 22px 0;
  }
}
