.wrapper {
  /* border: 1px solid red; */

  .username {
    /* width: 270px; */
  }

  .accountId {
    /* width: 180px; */
  }

  .commitment {
    /* width: 260px; */
  }

  .url {
    /* width: 150px; */
  }
}

.avatarRow {
  display: flex;
}

.avatar {
  width: 162px;
  height: 162px;
  border-radius: 81px;
}
