.topWidgetTitle {
  display: flex;

  align-items: center;
  height: 80px;
  padding-left: 25px;
  border-bottom: 1px solid var(--bright-gray-31);
}

.tableWrapper {
  padding: 0 10px;

  thead {
    tr {
      border-top: none;
    }
  }
}
