.wrapper {
  position: relative;
  padding: 10px 14px;
  border: 1px solid var(--gray-60);
  border-radius: 5px;
  width: 580px;
  word-wrap: break-word;
}

.privateInputs {
}

.publicInputInstance {
}

.inputCategoryTitle {
  font-weight: 500;
  font-size: 1.11em;
}

.inputEntries {
  margin-top: 5px;
}

.publicInputEntry {
  display: flex;
  margin-bottom: 8px;
}

.entryMeta {
  display: flex;

  > div:not(:first-child) {
    margin-left: 8px;
  }
}

.entryType {
  width: 80px;
}

.entryLabel {
  width: 132px;
}

.entryValue {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid var(--gray-50);
  border-radius: 3px;
  width: 260px;
  word-wrap: break-word;
  max-height: 38px;
  overflow: hidden;
}

.btnRow {
  margin-top: 25px;
}

.powered {
  font-size: 0.89em;
  color: var(--gray-40);
  position: absolute;
  bottom: 3px;
  right: 5px;
}
