.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  heigth: 100%;
  word-wrap: break-word;
  padding: 13px 14px 24px;
  min-height: 100%;
  border: 1px solid blue;
}

.privateInputs {
}

.publicInputInstance {
}

.inputCategoryTitle {
  font-weight: 500;
  font-size: 1.11em;
}

.inputEntries {
  margin-top: 5px;
}

.publicInputEntry {
  display: flex;
  margin-bottom: 8px;
}

.entryMeta {
  display: flex;

  > div:not(:first-child) {
    margin-left: 6px;
  }
}

.entryType {
}

.entryLabel {
  width: 112px;
}

.entryValue {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid var(--gray-50);
  border-radius: 3px;
  width: 280px;
  word-wrap: break-word;
  max-height: 38px;
  overflow: hidden;
}

.btnRow {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0;

  button {
    width: 220px;
    height: 42px;
  }
}

.systemMsg {
  position: absolute;
  left: 5px;
  bottom: 2px;
  font-size: 0.89em;
  color: var(--gray-40);
}
