@import "@/styles/layouts.module.scss";

.main {
  flex-grow: 1;
}

.noRecord {
  height: 140px;
  color: var(--gray-30);
  display: grid;
  place-items: center;
}

.mainInner {
  padding: 16px 0px 20px;
  flex-grow: 1;
  background-color: var(--white-100);
  height: 100%;
}

.loading {
  padding: 0 16px;
}

.title {
  font-size: 24px;
  padding-left: 8px;
  padding-bottom: 20px;
  /* padding-left: 34px; */
  color: var(--gray-23);
}

.tableHeader {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 49px;
  padding: 4px 0;

  &:not(.noData) {
    border-bottom: 1px solid var(--gray-60);
  }
}

.tableHeaderCell {
  /* padding: 4px 0; */
  display: flex;
  align-items: center;
  color: var(--gray-23);
  font-weight: 500;

  &:first-child {
    padding: 0px 10px 0 16px;
  }
}

.tableCell {
  /* padding: 4px 0; */
  display: flex;
  align-items: center;

  &:first-child {
    padding: 4px 10px 4px 16px;
  }
}

.tableBody {
  width: 100%;
  overflow: auto;
}

.tableBodyInner {
  width: 100%;
  position: relative;
}

.tableRow {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 0;
  transition: 0.1s all;
  cursor: pointer;

  > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    background-color: var(--bright-gray-521);
  }
}

@media screen and (min-width: $big_display_min_width) {
  .main {
    /* padding: 16px 16px 20px; */
    padding: 16px 18px 0 0;
  }

  .mainInner {
    border-radius: 24px;
    padding: 16px 16px 20px;
  }

  .title {
    /* padding-left: 34px; */
  }

  .tableHeaderCell {
    &:first-child {
      padding: 0px 10px 0 10px;
    }
  }

  .tableCell {
    &:first-child {
      padding: 4px 10px 4px 10px;
    }
  }
}
