.wrapper {
  top: 0;
  left: calc(50vw - 480px);
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 14px 24px;
  width: 240px;
  height: 100vh;

  border: 1px solid blue;
}

.appName {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.545rem;
  color: var(--gray-50);
  letter-spacing: -0.021em;
}

.betaTag {
  padding: 0px 2px;
  transform: translateY(-7px);
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--gray-30);
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.545rem;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  font-size: 16px;

  li:not(:first-child) {
    margin-top: 21px;
  }
}
