.wrapper {
  padding: 14px 16px;
  border-bottom: 1px solid var(--bright-gray-32);
  cursor: pointer;

  &:hover {
    background-color: var(--bright-gray-45);
  }
}

.labelRow {
  display: flex;
  align-items: center;
}

.label {
  padding-right: 6px;
  font-size: 1.51em;
}

.locale {
  color: var(--shy-green-60);
  background-color: #d1f4e6;
  border-radius: 3px;
  padding: 1px 4px;
}

.desc {
  padding-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
