@import "@/styles/layouts.module.scss";

.wrapper {
  padding: 14px 16px;
  /* overflow: hidden; */
}

.row {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  row-gap: 18px;
}

.section {
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0;
  word-break: break-all;
  overflow: hidden;

  /* border: 1px solid black; */
}

@media screen and (min-width: $display_w768) {
  .row {
    flex-direction: row;
  }
}
