.wrapper {
  /* min-height: 60px; */
  padding: 14px 16px;
  /* border-top: 1px solid var(--bright-gray-32); */
  border-bottom: 1px solid var(--bright-gray-32);
  cursor: pointer;

  &:hover {
    /* background-color: var(--gray-70); */
    background-color: blue;
  }
}

.labelRow {
  display: flex;
  align-items: center;
}

.label {
  padding-right: 6px;
  font-size: 1.41em;
}

.locale {
  color: #49574c;
  background-color: #d1f4e6;
  border-radius: 3px;
  padding: 1px 4px;
}
