.interactiveArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.computedValue {
  padding: 3px 7px;
  border-top: 1px solid var(--bright-gray-30);
  color: var(--gray-50);
  font-size: 0.91em;
}

.btnGroup {
  align-items: center;
  display: flex;
  position: absolute;
  right: 7px;

  button {
    cursor: pointer;
    color: var(--blue-30);
  }
}
