@import "@/styles/layouts.module.scss";

.inputArea {
  /* padding-top: 12px; */

  .row:not(:first-child) {
    margin-top: 18px;
  }
}

.guide {
  color: var(--gray-20);
  padding-bottom: 10px;
}

.btnRow {
  padding-top: 8px;
}

.msg {
  padding-top: 10px;
}

.success {
  color: var(--green-60);
}
