.wrapper {
  :global(.tiptap) {
    p {
      font-size: 20px;
    }
  }
}

.menuBar {
  margin-bottom: 19px;

  button {
    border: 1px solid var(--bright-gray-50);
    padding: 7px 8px;
    border-radius: 10px;
  }

  button:not(:first-child) {
    margin-left: 12px;
  }
}

.isEditorEmpty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
