.container {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  height: 100vh;
  padding-left: calc(50vw - 240px);
  padding-right: calc(50vw - 240px);
}

