@import "@/styles/layouts.module.scss";

.wrapper {
  width: 100%;
  height: 300px;
  padding-top: 16px;

  /* border: 1px solid blue; */
}

.title {
  font-size: 1.22em;
  color: var(--gray-30);
  padding: 0px $side_padding 6px;
}

.titleInputWrapper {
  padding: 0 12px 8px;
}

.titleInput {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid var(--bright-gray-30);
  color: var(--shy-gray-20);
  padding: 0.5em 0.65em;
  outline: none;

  &:focus {
    border-bottom: 1px solid var(--gray-50);
  }
}

.proofGuideRow {
  padding: 32px 12px 6px;

  .inner {
    border-radius: 6px;
    padding: 12px 12px 12px;
    background-color: var(--bright-gray-50);
  }
}

.icon {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 4px;
}

.editorRow {
  padding: 24px 12px 6px;
}

.btnRow {
  font-size: 15px;
  padding: 24px 12px 6px;
}

.error {
  padding: 0 12px;
  font-size: 13px;
  color: red;
}

.navigating {
  padding: 16px 12px;
  font-size: 15px;
  min-height: 120px;
  display: grid;
  place-items: center;
  position: relative;
}

.proofTypeGuide {
  color: var(--gray-30);
  padding-bottom: 8px;
  word-break: break-all;

  .guide {
    margin-right: 4px;
  }

  .proofType {
    font-weight: 500;
    color: var(--gray-20);
  }
}

@media screen and (min-width: $big_display_min_width) {
  .wrapper {
    width: $form_width;
  }
}
