@import "@/styles/layouts.module.scss";

.wrapper {
  position: relative;
  min-height: 150px;
  padding: 12px 12px;
  border-top: 1px solid var(--gray-70);
}

.title {
  color: var(--black-27);
  font-size: 1.58em;
  padding-bottom: 14px;
  font-weight: 500;
}

.meta {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  font-size: 15px;

  .left {
    flex-grow: 1;

    /* border: 1px solid blue; */
  }

  .right {
    /* border: 1px solid red; */
  }

  .item {
    display: inline-block;
    padding-right: 8px;
  }
}

.proofIdentityInput {
  color: var(--gray-40);
}

.content {
  padding-top: 20px;
}

.publicKey {
  color: var(--gray-20);
  font-weight: 500;
}

@media screen and (min-width: $big_display_min_width) {
  .thread {
    max-width: 712px;
  }
}
