@import "@/styles/layouts.module.scss";

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 15px;

  .left {
    flex-grow: 1;
    display: flex;
    align-items: center;

    /* border: 1px solid blue; */
  }

  .right {
    display: flex;
    align-items: center;
  }

  .item {
    display: inline-block;
    padding-right: 8px;
  }
}

.date {
  color: var(--gray-40);
}

.proofIdentityInput {
  color: var(--gray-30);
}

.content {
  word-break: break-all;
  padding-top: 16px;
  font-size: 15px;
  line-height: 1.4;
  color: var(--black-28);
}

.publicKey {
  color: var(--gray-20);
  font-weight: 500;
}

.proofIdentity {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  border: 1px solid var(--gray-80);
  border-radius: 12px;

  .proofImage {
    width: 18px;
    margin-right: 2px;
  }
}
