.wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 10px;
  color: var(--gray-30);

  > svg {
    margin-right: 5px;
  }
}
