@import "@/styles/layouts.module.scss";

.postInner {
  border-top: 1px solid var(--gray-70);
  padding-top: 12px;
}

@media screen and (min-width: $big_display_min_width) {
  .postInner {
    max-width: $form_width;
  }
}
