@import "./colors.module.scss";

:root {
  --gray-10: #2b2a2d;
  --gray-15: #3c4043;
  --gray-20: #373739;
  --gray-23: #444746;
  --gray-25: #474755;
  --gray-30: #545b64;
  --gray-31: #555756;
  --gray-32: $gray_32;
  --gray-33: #5c5c5c;
  --gray-34: #5f6368;
  --gray-40: #687078;
  --gray-45: #747775;
  --gray-47: #80868b;
  --gray-50: #8a8c8c;
  --gray-53: #919191;
  --gray-60: #acaca6;
  --gray-70: #b5bdb7;
  --gray-74: #bdbdbd;
  --gray-80: #c8d0ca;

  --bright-gray-30: #d6d9d9;
  --bright-gray-31: #d8d7dc;
  --bright-gray-32: #dadce0;
  --bright-gray-33: $bright_gray_33;
  --bright-gray-34: #e9e9e9;
  --bright-gray-35: #0000001a;
  --bright-gray-36: #ebebeb;
  --bright-gray-40: #ececec;
  --bright-gray-45: #f1f3f4;
  --bright-gray-50: #f2f1f1;
  --bright-gray-51: #f2f2f2;
  --bright-gray-52: #f4f4f5;

  --bright-gray-521: #f5f5f5;
  --bright-gray-53: #f7f7f7;
  --bright-gray-535: #f8fafd;
  --bright-gray-54: #f9f9f9;
  --bright-gray-55: #fafafa;
  --bright-gray-60: #fbfbfa;
  --bright-gray-70: #fcfcfc;

  --aqua-blue-40: #2944b1;
  --aqua-blue-50: #3857d3;
  --aqua-blue-90: #9ba6ce;

  --bright-aqua-blue-60: #eff2ff;
  --bright-aqua-blue-70: #f3f4fb;
  --bright-aqua-blue-80: #f4f4ff;

  --blue-50-alpha50: rgba(5, 115, 225, 0.5);

  --blue-05: #0b57d0;
  --blue-10: #11458a;
  --blue-101: #174ea6;
  --blue-11: #1a0dab;
  --blue-120: #1a73e8;
  --blue-121: #1b57a6;
  --blue-12: $blue_12;
  --blue-13: #1b63c1;
  --blue-14: #1b66c9;
  --blue-17: #1d74c1;
  --blue-19: #2962ff;
  --blue-20: #2c5abb;
  --blue-30: #3367d6;
  --blue-50: #1155cc;
  --blue-60: #64a1f2;

  --light-blue-30: #a9c5d7;
  --light-blue-40: #b6dcf9;
  --light-blue-50: #c2e7ff;
  --light-blue-53: #ccdce6;

  --bright-blue-35: #d2e3fc;
  --bright-blue-40: #d9e1ec;
  --bright-blue-50: #e2edfc;
  --bright-blue-52: #e8f0fe;
  --bright-blue-53: #ebf3fe;
  --bright-blue-54: #edf2fc;
  --bright-blue-55: #f0f4f9;
  --bright-blue-60: #f5f8fe;
  --bright-blue-65: #f7faff;
  --bright-blue-70: #f8fbfd;
  --bright-blue-71: #f8fbff;

  --bright-green-30: #7beab6;
  --bright-green-50: #82f7c0;
  --bright-green-80: #e5f2f0;
  --bright-green-81: #e8dfe6;
  --bright-green-90: #f6fbf8;

  --green-50: #30e867;
  --green-51: #3f8386;
  --green-60: #53bd5a;
  --green-80: #9fb6bf;

  --blue-black-50: #2f3139;

  --dark-blue-50: #1a0dab;

  --dark-cyan-40: #122b33;
  --dark-cyan-50: #222f2c;

  --dark-purple-30: #2d282b;
  --dark-purple-40: #332d30;
  --dark-purple-41: #3d278c;

  --black-00: #000000;
  --black-05: #001d35;
  --black-10: #0a0b0b;
  --black-20: $black_20;
  --black-25: #1b1b1b;
  --black-26: #1f1f1f;
  --black-27: #202124;
  --black-28: #222222;
  --black-30: #313030;

  --red-50: #d32f2f;
  --red-51: #d93025;

  --turquoise-50: #008686;

  --white-100: #fff;
}

[data-theme="light"] {
  --text-color-1: #000;
}

[data-theme="dark"] {
  --text-color-1: #fff;
}
