@import "styles/layouts.module.scss";

.wrapper {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  padding: 14px 16px;
  height: $masthead_height_w1920;
  align-items: center;
  background-color: var(--white-100);
  z-index: 10;
  font-size: 13px;
  justify-content: space-between;

  &.isTutorial {
    border-bottom: 1px solid var(--bright-gray-32);
  }
}

.twoColumn {
  height: $masthead_two_column_height_w1920;
}

.placeholder {
  height: $masthead_height_w1920;
}

.placeholder.twoColumn {
  height: $masthead_two_column_height_w1920;
}

.logoArea {
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
  min-width: 110px;
  max-width: 230px;
  flex-grow: 1;
  flex-shrink: 1;
  /* border: 1px solid blue; */

  > a {
    display: flex;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1158px;
  /* flex-direction: column; */

  border: 1px solid red;
}

.rightGroup {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2px;

  .menu {
    display: flex;
    align-items: center;
  }
}

.bigScreen {
  display: flex;
  align-items: center;
}

.underline:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1120px) {
  .wrapper.twoColumn {
    width: 100vw;
    min-width: 360px;
    height: $masthead_two_column_height_w1120;
    margin-right: 0;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-start;
    justify-content: center;
  }

  .placeholder.twoColumn {
    height: $masthead_two_column_height_w1120;
  }

  .logoArea {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    padding: 0 5px;
    margin-top: 4px;
    margin-left: 8px;
    min-width: 0px;
    display: flex;
    align-items: center;
    width: auto;
    /* border: 1px solid blue; */
  }

  .rightGroup {
    position: absolute;
    top: 6px;
    right: 10px;
    width: auto;
  }

  .staticPosition {
    position: static;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    min-width: 360px;
  }

  .twoColumn {
  }

  .rightGroup {
    .bigScreen {
      display: none;
    }
  }
}
