.wrapper {
  align-items: center;
  display: flex;
  padding: 14px 24px;

  ul {
    display: flex;
  }

  > div {
    flex: 1;
  }
}

.appName {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.545rem;
  color: var(--gray-50);
  letter-spacing: -0.021em;
}

.leftMenu {
  display: flex;
  align-items: center;

  ul {
    padding-left: 42px;
    display: inline-flex;
    align-items: center;
    height: 30px;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.545rem;
}

.searchBar {
  border: 1px solid var(--gray-70);
  width: 80%;
  min-width: 450px;
  max-width: 550px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 7px 16px;
  border-radius: 10px;
  background-color: var(--bright-gray-53);
  color: var(--gray-30);
  font-size: 16px;

  input {
    font-size: 16px;
    margin-left: 9px;
    outline: none;
    width: 100%;
    // padding: 5px 6px;
  }
}

.rightMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
