.wrapper {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 120px;
  min-width: 1024px;
  height: 69px;
  padding-top: 8px;
  z-index: 10;
  font-size: 13px;

  /* border-bottom: 1px solid var(--bright-gray-36); */

  &.isTutorial {
    border-top: 3px solid var(--aqua-blue-40);
    border-bottom: 3px solid var(--aqua-blue-40);
    /* background-color: rgba(0, 0, 0, 0.62); */
    /* border-bottom: none; */
  }
}

.inner {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logoArea {
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;

  /* border: 1px solid blue; */
}

.searchArea {
  flex-grow: 1;
  min-width: 610px;

  /* border: 1px solid red; */

  > div {
    max-width: 538px;
  }
}

.rightArea {
  font-size: 24px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
  color: var(--gray-20);
  // border: 1px solid blue;

  .menu:not(.bigScreen) {
    display: flex;
  }

  .menu {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-left: 6px;
    height: 40px;
    border-radius: 20px;

    > a {
      display: flex;
      align-items: center;
    }
  }

  .tutorialMenu {
    display: flex;
    align-items: center;
    font-size: 16px;

    .tutorialBtn {
      display: flex;
      align-items: center;
      background-color: var(--aqua-blue-40);
      border-radius: 3px;
      padding: 5px;
      font-weight: 500;
      color: var(--white-100);

      svg {
        display: block;
        margin-left: 4px;
      }
    }

    .padding {
      width: 300px;
      /* border: 1px solid red; */
    }

    svg:first-child {
      font-size: 20px;
      margin-right: 4px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .appPopover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    width: 40px;
    height: 40px;
  }

  .menu:hover {
    background-color: var(--bright-gray-40);
  }
}

.bigScreen {
  display: flex;
  align-items: center;
}

.popover {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--bright-gray-40);
  }
}

.popoverIsOpen {
  background-color: var(--bright-gray-30);
}

@media screen and (max-width: 1300px) {
  .wrapper {
    padding-left: calc((100% - 1150px) / 2);
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    /* position: relative; */
    width: 100vw;
    min-width: 360px;
    height: 102px;
    margin-right: 0;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;

    align-items: flex-start;
    justify-content: center;
  }

  .bigScreen {
    display: none;
  }

  .logoArea {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    padding: 0 5px;
    margin-top: 4px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    width: auto;

    /* border: 1px solid blue; */
  }

  .searchArea {
    flex: 1;
    margin-top: 46px;
    min-width: 0px;
    display: flex;
    justify-content: center;
  }

  .rightArea {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
    margin-right: 8px;

    /* border: 1px solid blue; */
  }
}
