.wrapper {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1024px;
  height: 69px;
  padding-top: 8px;
  z-index: 10;
  font-size: 13px;

  /* border-bottom: 1px solid var(--bright-gray-36); */
}

.inner {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logoArea {
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
  min-width: 110px;
  max-width: 230px;
  flex-grow: 1;
  flex-shrink: 1;

  /* border: 1px solid blue; */
}

.main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1158px;
  /* flex-direction: column; */
}

.searchArea {
  min-width: 610px;
  flex-basis: 630px;
  flex-shrink: 1;

  /* border: 1px solid red; */

  > div {
    max-width: 648px;
  }
}

.rightArea {
  font-size: 24px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
  color: var(--black-26);
  padding-right: 6px;
  align-items: center;

  // border: 1px solid blue;

  .menu:not(.bigScreen) {
    display: flex;
  }

  > * {
    margin: 0 2px;
  }

  .menu {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;

    > a {
      display: flex;
      align-items: center;
    }
  }

  .appPopover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .menu:hover {
    background-color: var(--bright-gray-40);
  }

  .signInBtn {
    padding: 0 8px;
  }
}

.bigScreen {
  display: flex;
  align-items: center;
}

.popover {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--bright-gray-40);
  }
}

.popoverIsOpen {
  background-color: var(--bright-gray-30);
}

@media screen and (max-width: 1120px) {
  .wrapper {
    width: 100vw;
    min-width: 360px;
    height: 90px;
    margin-right: 0;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;

    align-items: flex-start;
    justify-content: center;
  }

  .bigScreen {
    display: none;
  }

  .logoArea {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    padding: 0 5px;
    margin-top: 4px;
    margin-left: 8px;
    min-width: 0px;
    display: flex;
    align-items: center;
    width: auto;

    /* border: 1px solid blue; */
  }

  .searchArea {
    flex: 1;
    margin-top: 46px;
    min-width: 0px;
    display: flex;
    justify-content: center;

    > div {
      max-width: none;
    }
  }

  .rightArea {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
    width: auto;

    /* border: 1px solid blue; */
  }
}
