@import "@/styles/layouts.module.scss";

.header {
  display: flex;
  font-size: 15px;

  .left {
    display: flex;
    align-items: center;

    /* border: 1px solid blue; */
  }

  .right {
    // display: flex;
    // align-items: center;
  }

  .item {
    display: inline-block;
    padding-right: 8px;
  }

  .row {
    display: flex;
  }
}

.date {
  color: var(--gray-40);
  margin-left: 4px;
}

.proofIdentityInput {
  color: var(--gray-30);
}

.content {
  word-break: break-all;
  padding-top: 16px;
  font-size: 15px;
  line-height: 1.4;
  color: var(--black-28);
}

.publicKey {
  color: var(--gray-20);
  font-weight: 500;
}
