@import "@/styles/layouts.module.scss";

.wrapper {
  border-bottom: 1px solid var(--bright-gray-35);
  padding: 15px 0 12px;
}

.inner {
  padding: 0 $side_padding;
}

@media screen and (min-width: $big_display_min_width) {
  .wrapper {
    max-width: $form_width;
  }
}
