.wrapper {
  padding: 32px 32px 24px;
}

.connectList {
  display: flex;
  flex-direction: column;
  align-items: center;

  li:not(:first-child) {
    margin-top: 15px;
  }

  li {
    width: 220px;
  }
}

.connectedInfo {
}

.connector {
  line-height: 20px;

  b {
    font-weight: 500;
  }
}

.address {
  margin: 18px 0;

  button {
    width: 100%;
    border: 1px solid var(--gray-50);
    border-radius: 8px;
    padding: 10px 12px;
    color: var(--gray-20);
    cursor: pointer;

    &:hover {
      color: var(--black-00);
      background-color: var(--bright-gray-55);
    }

    &:active {
      background-color: var(--bright-gray-521);
    }
  }
}

.btnRow {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
