@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* border: 1px solid blue; */
}

.loading {
  padding: 24px;
}

.upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  /* border: 1px solid black; */
}

.logoPane {
  display: flex;
  padding: 0 28px;
  flex-grow: 0;
}

.logoWrapper {
  display: flex;
  max-width: none;
  flex-grow: 0;
}

.logo {
  font-size: 44px;

  > div {
    padding: 14px 5px 8px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;

  /* border: 1px solid red; */
}

.mainInner {
  .intro {
    color: var(--shy-black-30);
    padding: 0 28px;
    max-width: none;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.018em;
  }

  .signInBtnRow {
    padding: 18px 28px 0px;

    .btn {
      height: 38px;
      border-radius: 19px;
      width: 300px;
      border: 1px solid var(--bright-gray-32);
    }
  }

  .guideline {
    padding: 6px 28px 0;
    font-size: 11px;
    color: var(--gray-40);
  }
}

.footer {
  padding: 12px 16px;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.signInBtnWrapper {
  min-width: 250px;
  display: inline-flex;
  justify-content: center;

  /* border: 1px solid red; */
}

@media screen and (min-width: $big_display_min_width) {
  .upper {
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
  }

  .logoPane {
    flex-grow: 1;
    flex-shrink: 0;
    width: 45vw;
  }

  .logoWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55vw;
  }

  .mainInner {
    max-width: 400px;
    /* border: 1px solid black; */

    .intro {
      letter-spacing: 0.018em;
      padding: 0 28px;
    }

    .guideline {
      padding: 6px 28px 0;
      font-size: 11px;
      color: var(--gray-40);
    }
  }
}
