@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* border: 1px solid blue; */
}

.upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  /* border: 1px solid black; */
}

.logoPane {
  padding: 0 16px;
  flex-grow: 0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

  /* border: 1px solid blue; */

  .logoWrapper {
    display: flex;
    /* justify-content: center; */
    max-width: none;
    flex-grow: 0;

    /* border: 1px solid red; */
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  /* border: 1px solid red; */

  .intro {
    color: var(--shy-black-30);
    padding: 0 16px;
    max-width: none;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.018em;
  }

  .signInBtnRow {
    padding: 32px 16px 0px;

    .btn {
      height: 38px;
      border-radius: 19px;
      width: 300px;
      border: 1px solid var(--bright-gray-32);
    }
  }

  .guideline {
    padding: 6px 16px 0;
    font-size: 11px;
    color: var(--gray-40);
  }
}

.footer {
  padding: 12px 16px;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: $big_display_min_width) {
  .upper {
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
  }

  .logoPane {
    flex-grow: 1;
    flex-shrink: 0;
    width: 45vw;

    .logoWrapper {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      max-width: 540px;
    }
  }

  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .intro {
      font-size: 18px;
      letter-spacing: 0.018em;
      padding: 0 36px;
      max-width: $big_display_min_width;
    }

    .signInBtnRow {
      padding: 32px 36px 0px;

      .btn {
        height: 38px;
        border-radius: 19px;
        width: 300px;
        border: 1px solid var(--bright-gray-32);
      }
    }

    .guideline {
      padding: 6px 36px 0;
      font-size: 11px;
      color: var(--gray-40);
    }
  }
}
