.base {
  /* border: 1px solid blue; */
}

.popover {
  line-height: 16px;
  color: var(--gray-30);
  padding: 3px 0;

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--bright-gray-50);
    }
  }

  li:not(:first-child) {
    margin-top: 8px;
  }

  svg {
    color: var(--gray-20);
    font-size: 16px;
    margin-right: 4px;
  }
}
