@import "@/styles/layouts.module.scss";

.wrapper {
  /* display: flex; */
  flex-grow: 1;

  /* border: 1px solid white; */
}

.header {
  flex-grow: 1;

  /* border: 1px solid blue; */
}

.main {
  flex-grow: 1;

  /* border: 1px solid green; */
}

@media screen and (max-width: $big_display_min_width) {
  .header {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-grow: 0;
  }
}
