.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  width: 285px;
  height: calc(100% - 53px);
  flex-shrink: 0;
  padding: 10px 12px 34px 94px;
  font-size: 15px;
  background-color: var(--bright-gray-50);
  border-right: 1px solid var(--gray-70);
  color: var(--gray-20);

  li {
    line-height: 1em;
    color: var(--gray-30);

    a:hover {
      border-radius: 3px;
      background-color: var(--bright-gray-30);
    }
  }

  a:hover {
    background-color: var(--bright-gray-50);
  }

  a {
    display: block;
    padding: 12px 18px;
  }
}

.topSection {
  border-bottom: 1px solid var(--bright-gray-30);
  padding-bottom: 6px;

  a {
    color: var(--gray-20);
  }
}

.homeSection {
  margin-top: 20px;
}

.section {
}

.section:not(:first-child) {
  margin-top: 20px;
}

.category {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  /* color: var(--gray-20); */
  padding: 14px 18px;

  svg {
  }
}

.activeLink {
}

p.menuSublabel {
  color: var(--aqua-blue-50);
  margin-top: 6px;
  font-size: 0.81em;
}
