.wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 150px;
  z-index: 100;
  width: 285px;
  height: calc(100% - 53px);
  flex-shrink: 0;
  // padding: 0px 0px 34px 94px;
  font-size: 15px;
  /* background-color: var(--bright-gray-60); */
  border-right: 1px solid var(--bright-gray-31);
  color: var(--black-50);

  li {
    line-height: 1em;

    a:hover {
      background-color: var(--bright-gray-40);
    }
  }

  a {
    border-radius: 5px;
    display: block;
    padding: 12px 18px;
    margin-right: 14px;
  }
}

.topSection {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bright-gray-31);
  height: 80px;

  a {
    /* color: var(--gray-20); */
  }
}

.homeSection {
  margin-top: 20px;
}

.section {
}

.section:not(:first-child) {
  margin-top: 20px;
}

.category {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  padding: 14px 18px;

  svg {
  }
}

.activeLink {
  font-weight: 700;
}

p.menuSublabel {
  color: var(--aqua-blue-50);
  margin-top: 6px;
  font-size: 0.81em;
}
