.wrapper {
  position: fixed;
  z-index: 100;
  width: 216px;
  min-height: 100%;
  flex-shrink: 0;
  padding: 10px 12px 34px;
  background-color: var(--white-100);
  box-shadow: rgba(0, 28, 36, 0.3) 0px 1px 1px 0px, rgba(0, 28, 36, 0.15) 1px 1px 1px 0px,
    rgba(0, 28, 36, 0.15) -1px 1px 1px 0px;
  color: var(--gray-20);

  li {
    line-height: 1em;
    color: var(--gray-30);
    padding: 12px 18px;

    a {
      /* display: block; */
    }

    a:hover {
      text-decoration: underline;
      /* background-color: var(--bright-gray-50); */
    }
  }
}

.topSection {
  border-bottom: 1px solid var(--bright-gray-30);
  padding-bottom: 6px;

  a {
    color: var(--gray-20);
  }
}

.homeSection {
  margin-top: 20px;
}

.section:not(:first-child) {
  margin-top: 20px;
}

.category {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  /* color: var(--gray-20); */
  padding: 14px 18px;

  svg {
  }
}

.activeLink {
  /* background-color: var(--bright-gray-50); */
  /* color: var(--gray-20); */
}

p.menuSublabel {
  color: var(--aqua-blue-50);
  margin-top: 6px;
  font-size: 0.81em;
}
