@import "@/styles/layouts.module.scss";

div.wrapper {
  width: 100%;
  padding: 24px 24px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 14px;

  /* border: 1px solid blue; */
}

.item {
  font-size: 18px;
  text-align: center;

  svg {
    margin-left: 0.1em;
    vertical-align: middle;
  }
}

.or {
  margin-left: 1em;
}

.attestation {
  color: var(--white-100);
  background-color: var(--pale-brown-53);
}

.transparentBtn {
  /* padding-left: 16px; */
}

.brownBtn {
  color: var(--white-100);
  background-color: var(--pale-brown-53);
  padding: 9px 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;

  &:hover {
    background-color: var(--pale-brown-52);
  }

  &:active {
    background-color: var(--pale-brown-51);
  }
}

@media screen and (min-width: $display_w768) {
  .container {
    justify-content: center;
  }
}
