@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 32px 24px 0;
}

.video {
  width: 100%;
  max-width: 1180px;
  border-radius: 10px;
  border: 1px solid var(--black-30);
  overflow: hidden;

  iframe {
    border: none;
  }
}
