@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
}

.video {
  width: 100%;
  max-width: 1180px;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;

  /* border: 1px solid black; */
  iframe {
    border: none;
  }
}
