@import "@/styles/layouts.module.scss";

.wrapper {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.10125px;
  border-radius: 5px;
  padding: 80px 16px 0px;
  transition: background-color 0.5s;
  max-width: 1150px;

  &:first-child {
    padding: 0px 16px 0px;
  }
}

.itemContent {
  text-align: center;
}

.title {
  line-height: 1.24em;
  font-size: 24px;
  font-variation-settings: "wght" 582;
}

.desc {
  font-size: 20px;
  line-height: 1.4em;
  padding-top: 24px;
  font-variation-settings: "wght" 390;
  color: var(--black-20);
}

.image {
  padding-top: 24px;

  img {
    border: 1px solid var(--black-30);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    object-fit: contain;

    &.isHighlighted {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $display_w768) {
  .itemContent {
    max-width: 80%;
  }
}

@media screen and (min-width: $display_w1024) {
  .wrapper {
    padding-top: 120px;
  }

  .item {
    padding: 120px 16px 0px;
  }

  .title {
    font-size: 32px;
  }
}
