@import "@/styles/layouts.module.scss";

.wrapper {
  width: 100%;
  padding-top: 100px;
}

.itemContainer {
  padding: 36px 0px 10px;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-variation-settings: "wght" 456;
  line-height: 19px;
  letter-spacing: 0.10125px;
  border-radius: 5px;
  padding: 60px 24px 100px;
  transition: background-color 0.5s;

  &.isHighlighted {
    background-color: var(--bright-gray-45);
  }
}

.box {
  display: grid;
  row-gap: 24px;
}

.itemContent {
  display: flex;
  /* justify-content: center; */
}

.gray {
  background-color: var(--bright-gray-523);
}

.title {
  line-height: 1.1em;
  font-size: 28px;
  font-variation-settings: "wght" 569;
}

.desc {
  font-size: 20px;
  line-height: 1.3em;
  padding-top: 28px;
  font-variation-settings: "wght" 350;
  color: var(--black-20);
}

.callToAction {
  margin-top: auto;
  font-size: 13.5px;
  font-variation-settings: "wght" 619;

  > p {
    display: inline-block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    margin-left: 0.15em;
    vertical-align: middle;
  }
}

.image {
  padding: 24px;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    max-width: 520px;
    object-fit: contain;

    &.isHighlighted {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $display_w1024) {
  .wrapper {
    padding-top: 120px;
  }

  .item {
    padding: 120px 16px;
  }

  .itemContent {
    .inner {
      width: 400px;
    }
  }

  .image {
    img {
      max-width: 400px;
    }
  }

  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    max-width: 1180px;
    column-gap: 140px;
  }

  .title {
    font-size: 42px;
  }
}
