@import "@/styles/layouts.module.scss";

.wrapper {
}

.itemContainer {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  column-gap: 40px;
}

.item {
  text-align: start;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

@media screen and (min-width: $mid_display_min_width) {
  .wrapper {
  }
}
