@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  padding: 50px 0 64px;
  width: 100%;
  font-size: 15px;
  border-top: 1px solid var(--bright-gray-30);
}

.inner {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  width: 1180px;
}

.lang {
  flex-grow: 1;
}

.listContainer {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}

.col {
  width: 180px;

  &:not(:first-child) {
    margin-top: 34px;
  }
}

.list {
  li {
    display: block;
  }

  li:not(:first-child) {
    margin-top: 14px;
  }
}

.item {
  display: block;
  font-size: 16px;

  svg {
    margin-left: 0.1em;
    vertical-align: middle;
  }

  span {
    &:hover {
      color: var(--blue-05);
    }
  }
}

.appLogo {
  margin-top: 18px;
  height: 26px;
}

.itemContainer {
  padding-top: 16px;
  /* display: flex; */
  /* justify-content: center; */
}

.item {
  display: inline-block;
}

@media screen and (min-width: $display_w480) {
  .wrapper {
  }

  .inner {
    flex-direction: row;
  }

  .listContainer {
    flex-direction: row;
    padding-top: 0px;
  }

  .col {
    &:not(:first-child) {
      margin-top: 0;
    }
  }
}
