@import "@/styles/layouts.module.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;

  // border: 1px solid red;
}

.overlay {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;
}

.formArea {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  position: relative;

  .proofTypeChosen {
    padding: 9px 0px 34px;
  }
}

.formWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.proofTypeRow {
  border-radius: 5px;
}

.createProofBtn {
  margin-top: 10px;

  button {
    height: 42px;
    width: 100%;
  }
}

.moduleWrapper {
  margin-top: 24px;
}

.loading {
  padding: 70px 28px;
}

@media screen and (min-width: $big_display_min_width) {
  .wrapper {
    padding-bottom: 100px;
  }

  .loading {
    padding: 0;
  }

  .formArea {
    width: 580px;
    padding: 3px 0;

    .proofTypeChosen {
      padding: 14px 14px 34px;
    }
  }
}
