@import "@/styles/layouts.module.scss";

.area {
  width: 100%;
  max-width: 1180px;
  padding: 80px 24px 80px;
}

.title {
  font-size: 36px;
  text-align: center;
  font-variation-settings: "wght" 669;
  padding-bottom: 20px;
  line-height: 1.08em;
}

.subtitle {
  font-size: 20px;
  text-align: center;
  font-variation-settings: "wght" 550;
}

@media screen and (min-width: $display_w1024) {
  .area {
    text-align: center;
    padding: 120px 24px 100px;
  }

  .title {
    font-size: 45px;
    /* padding-bottom: 22px; */
  }
}
