@import "@/styles/layouts.module.scss";

.area {
  width: 100%;
  max-width: 1000px;
  padding: 80px 24px 0;
}

.title {
  font-size: 36px;
  text-align: center;
  font-variation-settings: "wght" 669;
  padding-bottom: 24px;
  line-height: 1em;
}

@media screen and (min-width: $mid_display_min_width) {
  .area {
    text-align: center;
    padding: 120px 24px 0;
  }

  .title {
    padding-bottom: 14px;
  }
}
