@import "@/styles/layouts.module.scss";

.wrapper {
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 300px));
  grid-auto-rows: auto;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
  font-size: 16px;
  text-align: start;
}

.title {
  font-size: 18px;
  font-variation-settings: "wght" 666;
  padding-bottom: 8px;
}

@media screen and (min-width: $mid_display_min_width) {
  .itemContainer {
    grid-template-columns: repeat(2, minmax(200px, 300px));
  }
}

@media screen and (min-width: $big_display_min_width) {
  .itemContainer {
    column-gap: 60px;
    row-gap: 60px;
  }
}
