@import "@/styles/layouts.module.scss";

.wrapper {
}

.itemContainer {
  display: grid;
  // grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
  font-size: 18px;
  padding-top: 24px;
  text-align: start;
}

.item {
  line-height: 1.4em;
}

.title {
  font-size: 18px;
  font-variation-settings: "wght" 666;
  padding-bottom: 8px;
}

.newLine {
  display: none;
}

// @media screen and (min-width: $display_w480) {
//   .itemContainer {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

@media screen and (min-width: $display_w768) {
  .itemContainer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 60px;
  }

  .item {
    padding: 0 24px;
  }
}
