@import "@/styles/layouts.module.scss";

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 28px;
  color: var(--black-20);
}

.title {
  text-align: center;
  font-size: 40px;
  font-variation-settings: "wght" 669;
  line-height: 1.02em;
  padding: 0 24px;

  br {
    display: none;
  }
}

.subtitle {
  padding: 12px 24px 0;
  text-align: center;
  font-size: 20px;
  line-height: 1.25em;
  font-variation-settings: "wght" 405;
  color: var(--black-25);
}

@media screen and (min-width: $display_w768) {
  .title {
    font-size: 48px;

    br {
      display: block;
    }
  }
}

@media screen and (min-width: $display_w1024) {
  .wrapper {
    margin-top: 100px;
  }

  .title {
    font-size: 61px;
  }

  .subtitle {
    font-size: 24px;
  }

  .lineBreak {
    display: none;
  }
}
