@import "@/styles/layouts.module.scss";

.wrapper {
  padding-top: 48px;
  display: flex;
  justify-content: center;

  /* border: 1px solid blue; */
}

.container {
  padding: 0 24px;
  width: 100%;
}

.text {
  font-size: 18px;
  font-variation-settings: "wght" 420;
  color: var(--black-20);
  line-height: 1.67em;
  text-align: start;
}

@media screen and (min-width: $display_w768) {
  .container {
    width: 610px;
  }
}
