.signInBtn {
  background-color: var(--white-100);
  color: var(--gray-15);
  border: 1px solid var(--bright-blue-35);
  height: 38px;
  border-radius: 19px;
  width: 300px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  transition: all 0.1s;

  &:hover {
    background-color: var(--bright-blue-55);
  }

  &:active {
    background-color: var(--bright-blue-53);
  }
}
