.wrapper {
  /* min-width: 800px; */
}
.select {
  width: 60px;
  /* max-width: 60px; */
}
.circuit_id {
  width: 160px;
  word-wrap: break-word;
}
.label {
  min-width: 160px;
}
.numInputs {
  min-width: 100px;
}
.author {
  width: 160px;
}
.createdAt {
  width: 120px;
  max-width: 120px;
}
.desc {
  width: 100%;
}
