.wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.moduleWrapper {
  padding: 48px 40px 36px;
  min-height: 400px;
  border: 1px solid var(--bright-gray-32);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  &:not(:first-child) {
    margin-top: 16px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding: 0 12px;
    justify-content: center;
  }

  .moduleWrapper {
    /* padding: 0 0; */
    border: none;
  }
}
