.formSectionWrapper {
  padding: 18px 20px;
}

.formTextInputWrapper {
  .label {
    margin-bottom: 5px;
    color: var(--gray-10);
  }

  input,
  textarea {
    color: var(--gray-10);
    width: 100%;
    border-bottom: 1px solid var(--gray-40);
    // border-radius: 5px;
    padding: 8px 8px;
  }

  input.readOnly,
  textarea.readOnly {
    background-color: var(--bright-gray-50);
    color: var(--gray-30);
  }
}

.formTitleRowWrapper {
  margin: 20px 0 20px;
}

.formTitleWrapper {
  font-size: 1.63em;
  font-weight: 500;
  margin-bottom: 6px;
}

.formSubtitleWrapper {
  color: var(--gray-31);
  line-height: 1.58em;

  a {
    color: var(--blue-50);
    &:hover {
      text-decoration: underline;
    }
  }
}
