.wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 55px;
  background-color: var(--white-100);
  border-bottom: 1px solid var(--bright-gray-31);
}

.inner {
  display: flex;
  width: 100%;
  padding: 0px 0px;

  // border: 1px solid blue;
}

.leftMenu {
  display: flex;
  align-items: center;
  width: 285px;
  padding-left: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.545rem;
}

.appName {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.545rem;
  color: var(--gray-50);
  letter-spacing: -0.021em;
}

.mainMenu {
  display: flex;
  flex-grow: 1;
  padding: 0 0px;
  list-style: none;
  align-items: center;

  a {
    &:hover {
      color: var(--aqua-blue-50);
    }
  }

  > li {
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
}

.rightMenu {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 15px;

  > li:not(:last-child) {
    margin-right: 35px;
  }
}

.connectBtn {
  padding: 0px 8px;
  display: flex;
  align-items: center;
}

.inactive {
  button {
    color: var(--gray-70);
  }
}

.betaTag {
  padding: 0px 2px;
  transform: translateY(-7px);
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--gray-30);
}

.newTag {
  background-color: yellow;
  padding: 0px 1px;
  transform: translateY(-5px);
  font-size: 0.79em;
}

.search {
  border: 1px solid var(--gray-70);
  width: 80%;
  max-width: 550px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 7px 16px;
  border-radius: 10px;
  background-color: var(--bright-gray-53);
  color: var(--gray-30);
  font-size: 16px;

  input {
    font-size: 16px;
    margin-left: 9px;
    outline: none;
    width: 100%;
    // padding: 5px 6px;
  }
}
