.wrapper {
  min-height: 60px;
  padding: 14px 16px;

  border-top: 1px solid var(--bright-gray-32);
  border-bottom: 1px solid var(--bright-gray-32);

  /* border: 1px solid blue; */
}

.author {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 10px;
}
