@import "@/styles/layouts.module.scss";

.wrapper {
}

.inner {
  /* border: 1px solid transparent; */
  /* margin-top: 8px; */
  position: relative;
  border: 1px solid var(--bright-gray-30);
  border-radius: 6px;

  &:focus-within {
    border: 1px solid var(--gray-70);
    border-radius: 6px;
  }
  /* padding: 5px; */

  &:focus-within {
    /* border: 1px solid var(--shy-green-50); */
  }
}

.addComment {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0px 16px;
  color: var(--gray-30);
  border: 1px solid var(--bright-gray-30);
  border-radius: 19px;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 10px;
  color: var(--gray-30);

  > svg {
    margin-right: 5px;
  }
}

@media screen and (min-width: $big_display_min_width) {
}
