.wrapper {
  a {
    cursor: pointer;
    color: var(--aqua-blue-50);

    &:hover {
      text-decoration: underline;
    }
  }
}

.guide {
  color: var(--gray-20);
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 12px;
}

.title {
  color: var(--black-100);
  margin-bottom: 5px;
  font-weight: 600;
}

.terminal {
  border: 1px solid blue;
  padding: 5px 6px;
  font-size: 12px;
  border-radius: 3px;
  height: 75px;
  color: var(--gray-20);
  border: 1px solid var(--gray-70);
}
