.guide {
  color: var(--gray-20);
  margin-bottom: 10px;
}

.title {
  color: var(--black-100);
  margin-bottom: 5px;
  font-weight: 600;
}

.terminal {
  border: 1px solid blue;
  padding: 5px 6px;
  font-size: 12px;
  border-radius: 3px;
  height: 65px;
  border: 1px solid var(--gray-70);
}
