@import "@/styles/layouts.module.scss";

.wrapper {
  min-width: 360px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  padding: 14px 16px;
  height: $masthead_height_w1920;
  align-items: center;
  background-color: inherit;
  z-index: 10;
  font-size: 13px;
  justify-content: space-between;

  &.smallPadding {
    padding: 10px 8px;
  }

  &.tallHeight {
    height: $masthead_tallheight_w1920;
  }

  &.twoColumn {
    width: 100vw;
    min-width: 360px;
    height: $masthead_two_column_height_w1120;
    margin-right: 0;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: flex-start;
    justify-content: center;
  }

  &.tallHeight {
    height: $masthead_tallheight_w1120;
  }
}

.twoColumn {
  height: $masthead_two_column_height_w1920;
}

.placeholder {
  height: $masthead_height_w1920;

  &.twoColumn {
    height: $masthead_two_column_height_w1120;
  }

  &.tallHeight {
    height: $masthead_tallheight_w1120;
  }
}

.logoArea {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  padding: 0 16px;
  min-width: 0px;
  display: flex;
  align-items: center;
  width: auto;
  /* border: 1px solid blue; */

  > a {
    display: flex;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1158px;
  /* flex-direction: column; */

  /* border: 1px solid red; */
}

.rightGroup {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2px;

  position: absolute;
  top: 6px;
  right: 10px;
  width: auto;

  .bigScreen {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }
}

.bigScreen {
  display: flex;
  align-items: center;
}

.underline:hover {
  text-decoration: underline;
}

.staticPosition {
  position: static;
}

@media screen and (min-width: $mid_display_min_width) {
  .wrapper {
    /* min-width: 0px; */
  }

  .rightGroup {
    .bigScreen {
      display: flex;
    }
  }
}

@media screen and (min-width: $big2_display_min_width) {
  .wrapper {
    &.twoColumn {
      width: auto;
      height: $masthead_two_column_height_w1120;
      padding: 14px 16px;
      align-items: flex-start;
      justify-content: center;
    }

    &.tallHeight {
      height: $masthead_tallheight_w1120;
    }
  }

  .placeholder {
    &.twoColumn {
      height: $masthead_two_column_height_w1920;
    }

    &.tallHeight {
      height: $masthead_tallheight_w1920;
    }
  }

  .logoArea {
    position: static;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    min-width: 110px;
    max-width: 230px;
    flex-grow: 1;
    flex-shrink: 1;

    /* border: 1px solid blue; */
  }

  .rightGroup {
    position: static;
    width: auto;
  }
}
