.interactiveArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  button {
    cursor: pointer;
    color: var(--aqua-blue-50);
  }
}

.hashBtn {
  color: var(--aqua-blue-50);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: var(--aqua-blue-40);
  }
}

.isInputValid {
  input {
    color: var(--black-00);
  }
}

.computedValue {
  padding: 3px 8px;
  font-size: 13px;
  color: var(--gray-30);
}
