.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  align-self: flex-start;
}

.driverMsg {
  display: flex;
  flex-direction: column;
  margin: 20px 0 34px;
  width: 100%;
  color: var(--gray-30);
  font-size: 14px;

  .msg {
    min-width: 520px;
    max-width: 530px;
    /* display: flex; */

    span {
      display: inline-block;
    }

    a {
      cursor: pointer;
      margin-left: 4px;
      margin-right: 5px;
      display: inline-flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.moduleArea {
  padding: 0px 20px;
  flex-grow: 1;
  margin-left: 48px;

  /* border: 1px solid blue; */

  .moduleWrapper {
    min-width: 384px;
    max-width: 448px;
    overflow: hidden;
    position: relative;
    padding: 22px 20px;

    border: 1px solid var(--bright-gray-30);
    border-radius: 11px;
  }

  .loaderBarWrapper {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;

    /* border: 1px solid red; */
  }

  .overlay {
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    margin-top: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 5;
  }

  .form {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
  }

  .btnRow {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;

    .spinnerWrapper {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
    }

    button {
      font-weight: 500;
      height: 38px;
    }
  }
}

.progressWrapper {
  display: flex;

  .progressRow {
    display: flex;

    &:not(:last-child)::after {
      content: ",";
      margin-right: 5px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  color: var(--gray-30);
  font-size: 12px;

  /* border: 1px solid red; */

  .msg {
    text-align: center;
  }
}

.errorMsg {
  color: var(--red-50);
}

.inProgress {
  background-color: var(--blue-10);
}

.metaArea {
  flex-grow: 1;
  min-width: 530px;
  max-width: 620px;
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .moduleArea {
    padding: 24px 0px 24px;
    margin-left: 0px;
    border: none;
    border-radius: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--bright-gray-32);

    .moduleWrapper {
      border: none;
      min-width: 0;
      padding: 0px 0px;
      width: 100%;
      padding: 0 10px;
    }
  }

  .driverMsg {
    margin: 12px 0 12px;
    padding: 0 10px;
    align-items: center;

    .msg {
      min-width: 0px;
    }
  }

  .modulePadding {
    display: none;
  }

  .metaArea {
    width: 100%;
    margin-top: 36px;
    padding: 0 10px;
    min-width: 0px;
  }
}
