.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  padding-left: 230px;

  /* border: 1px solid blue; */

  &.isTutorial {
    padding-left: 80px;
  }
}

.main {
  display: flex;
  flex-direction: row;
}

.module {
  order: 1;
  position: relative;
  padding: 20px 16px 20px;
  border: 1px solid var(--bright-gray-30);
  border-radius: 6px;
  width: 490px;
  margin-left: 84px;

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 5;
  }

  .form {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
  }

  .btnRow {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;

    .spinnerWrapper {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
    }

    button {
      font-weight: 500;
      height: 38px;
    }
  }
}

.progressWrapper {
  display: flex;

  .progressRow {
    display: flex;

    &:not(:last-child)::after {
      content: ",";
      margin-right: 5px;
    }
  }
}

.driverMsg {
  display: flex;
  flex-direction: column;
  margin: 20px 0 34px;
  width: 100%;
  color: var(--gray-30);
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  color: var(--gray-30);
  font-size: 12px;

  /* border: 1px solid red; */

  .msg {
    text-align: center;
  }
}

.errorMsg {
  color: var(--red-50);
}

.inProgress {
  background-color: var(--blue-10);
}

.metaArea {
  /* margin-left: 230px; */
}

@media screen and (max-width: 480px) {
  .module {
    /* border: 1px solid transparent; */
    padding: 12px 4px 12px;
    /* border-bottom: 1px solid var(--gray-40); */
    /* border-top: 1px solid var(--gray-40); */
    /* border-radius: 0px; */
  }

  .driverMsg {
    margin: 0 0 18px;
  }
}
