.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.form {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}

.btnRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;

  button {
    font-weight: 500;
    height: 38px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  color: var(--gray-30);
  font-size: 12px;

  /* border: 1px solid red; */

  .systemMsg {
    text-align: center;
  }

  .terminalLogContainer {
    text-align: center;
  }
}
