.wrapper {
  margin-top: 34px;
}

.section {
  margin-top: 7px;
}

.headerSection {
  display: flex;
  font-size: 14px;

  .left {
    margin-right: 12px;
  }

  .url {
    color: var(--gray-40);
  }
}

.title {
  font-weight: 500;
  font-size: 1.42em;
  margin-bottom: 14px;
}
