.wrapper {
  /* margin-top: 34px; */
}

.section {
  margin-top: 10px;
}

.headerSection {
  position: relative;
  height: 68px;
  border: 1px solid red;

  .top {
    position: absolute;
    top: 0;
    display: flex;
    font-size: 14px;
    cursor: pointer;

    .left {
      margin-right: 12px;
      display: flex;
      align-items: center;
    }

    .url {
      font-size: 12px;
      margin-top: 3px;
      color: var(--gray-31);
    }

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      border: 1px solid var(--bright-gray-30);
    }

    &:hover + .title {
      text-decoration: underline;
    }
  }

  .title {
    margin-top: auto;
    display: inline-block;
    font-weight: 400;
    font-size: 1.42em;
    cursor: pointer;
    color: var(--blue-11);
    margin-top: 42px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.h2 {
  font-size: 1.22em;
  font-weight: 400;
  margin: 22px 0 10px;
}
