@import "@/styles/layouts.module.scss";

$leftbar_width: 284px;

.wrapper {
  display: flex;
  flex-grow: 1;

  /* border: 1px solid red; */
}

.loading {
  padding: 22px;
  font-size: 16px;
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}

@media screen and (min-width: $big_display_min_width) {
  .drawerLogoArea {
    padding: 10px 8px;
  }

  .main {
    /* padding: 16px 16px 20px; */
    padding: 16px 18px 0 0;
  }

  .mainInner {
    border-radius: 24px;
    padding: 16px 16px 20px;
  }

  .title {
    /* padding-left: 34px; */
  }
}
